<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Holy Unblocker LTS</title>
    <meta
      name="description"
      content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#434c5e"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="box text-center textm">
        <h1 class="bigtitle">Bookmarklets</h1>
        <h2>Simply drag the bookmarklets below to your bookmark bar.</h2>
        <div id="bks-parent">
          <a id="inspectel" class="fancybutton glowbutton"
            >Inspect Element Clone</a
          >
          <a id="portasite" class="fancybutton glowbutton">Porta Proxy</a>
        </div>
        <div id="bks-parent">
          <a id="firebug" class="fancybutton glowbutton"
            >Inspect Element (Firebug)</a
          >
          <a id="ytnoc" class="fancybutton glowbutton">YouTube NC</a>
        </div>
        <p>
          Most of the above made by the quite amazing Yoct! (YOCTDÖNALD'S#1115)
        </p>
        <h2>What are bookmarklets?</h2>
        <p>
          A bookmarklet is a normal bookmark with a piece of JavaScript code
          instead of a web address. When you click or tap the bookmarklet, it
          will execute the JavaScript code on the current page instead of
          loading a different page, as most bookmarks do.
        </p>
        <h2>Credits</h2>
        <p>- Yoct</p>
        <p>- The Bread</p>
        <p>- CVFD</p>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
  </body>
</html>
