<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#173;o&#173;ly Un&#173;blo&#173;ck&#173;er</title>
    <meta name="description" content="Ho&#173;ly Unbl&#173;o&#173;c&#173;ker is a se&#173;c&#173;ure we&#173;b pr&#173;ox&#173;y se&#173;rvi&#173;ce with sup&#173;po&#173;rt for many sit&#173;es. By&#173;pa&#173;ss fi&#173;l&#173;ter&#173;s and fr&#173;ee&#173;ly enj&#173;oy a saf&#173;er pr&#173;iva&#173;te b&#173;rowsi&#173;ng expe&#173;ri&#173;ence or u&#173;nblo&#173;ck webs&#173;ites on de&#173;vices such as Chr&#173;omebo&#173;oks and at plac&#173;es li&#173;ke sch&#173;o&#173;ol or wor&#173;k with&#173;out do&#173;wnload&#173;ing anythi&#173;ng."
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="box text-center textm">
            <h1 class="bigtitle">Book<wbr>markle<wbr>ts</h1>
            <h2>Simply drag the book<wbr>markl<wbr>ets below to your boo<wbr>kma<wbr>rk bar.</h2>
            <div id="bks-parent">
                <a id="inspectel" class="fancybutton glowbutton">Ins<wbr>pect El<wbr>eme<wbr>nt Cl<wbr>on<wbr>e</a>
                <a id="portasite" class="fancybutton glowbutton">Po<wbr>rta Proxy</a>
            </div>
            <div id="bks-parent">
                <a id="firebug" class="fancybutton glowbutton">Ins<wbr>pect El<wbr>eme<wbr>nt (F<wbr>ireb<wbr>ug)</a>
                <a id="ytnoc" class="fancybutton glowbutton">You<wbr>Tub<wbr>e N<wbr>C</a>
            </div>
            <p>Most of the above made by the quite amazing Yo<wbr>ct! (Y<wbr>OCT<wbr>DÖN<wbr>ALD'S#111<wbr>5)</p>
            <h2>What are boo<wbr>kmarkle<wbr>ts?</h2>
            <p>A book<wbr>mark<wbr>let is a normal bookm<wbr>ark with a piece of Ja<wbr>vaScri<wbr>pt co<wbr>de inste<wbr>ad of a web add<wbr>ress. When you click or ta<wbr>p the b<wbr>ook<wbr>mark<wbr>let, it will execute the J<wbr>ava<wbr>Scr<wbr>ipt code
                on the current page instead of load<wbr>ing a dif<wbr>ferent page<wbr>, as mo<wbr>st bookmarks do.</p>
            <h2>Credit<wbr>s</h2>
            <p>- Yoc<wbr>t</p>
            <p>- T<wbr>he Bre<wbr>ad</p>
            <p>- CV<wbr>FD<wbr></p>
        </div>
    </div>
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <!-- todo: remove links.js -->
    <script src="assets/js/links.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="assets/js/footer.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
</body>

</html>