<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Holy Unblocker LTS</title>
    <meta
      name="description"
      content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#434c5e"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box-clear box-credits text-center textm">
        <h1 class="bigtitle">Credits</h1>
        <p>Contact information can be viewed <a href="/?t">here.</a></p>
        <h2>What is Holy Unblocker?</h2>
        <p>
          Holy Unblocker, an official flagship Titanium Network site, can bypass
          web filters regardless of whether it is an extension or
          network-based.<br />Being a secure web proxy service, it supports
          numerous sites while being updated frequently and concentrating on
          detail with design, mechanics, and features.
        </p>
        <h2>What is Titanium Network about?</h2>
        <p>
          Titanium Network is an organization dedicated to providing private
          internet access by bypassing the over-restrictive filters employed by
          institutions like schools or workplaces.
        </p>
        <div>
          <h3>Main Developers:</h3>
          <ul class="binside">
            <li>
              Quite A Fancy Emerald (Creator and Owner, Discord: @quiteafancyemerald)
            </li>
            <li>
              OlyB/BinBashBanana (Co-Owner, Main Contributor, v5 rewrite, Tab Cloak,
              webretro dev, Discord: OlyB#9420)
            </li>
            <li>
              YOCTDONALD'S (Co-Owner, v6+, Main Contributor, "HU no-lifer", Obfuscated Bughunter Legend)
            </li>
          </ul>
          <h3>Contributors and Notable Mentions:</h3>
          <ul class="binside">
            <li>Kinglalu (Games Page, Developer)</li>
            <li>MotorTruck1221 (Massive Contributor, Fastify Rewrite, Developer)</li>
            <li>percs (Ultraviolet, Wisp, Developer)</li>
            <li>scaratek (Contributor, Refactor Support)</li>
            <li>
              MikeLime (Old Co-Owner of TitaniumNetwork &amp; Mass Proxy Site Maker,
              Web Developer, and Software Developer)
            </li>
            <li>SexyDuceDuce (Proxy and Web Developer)</li>
            <li>Divide (Chatbox, Proxy/Web Developer)</li>
            <li>LQ16 (Creator of TN, Retired)</li>
            <li>Shirt (Old Co-Owner of TN, Everything Developer And King Of Pokemon)</li>
            <li>Soup (Cat Lady) hehe</li>
            <li>aub (Owner of Titanium Network)</li>
            <li>Binary Person (pretty pog)</li>
            <li>Pillow (Hosting Contributor, Developer)</li>
            <li>Navyyy</li>
            <li>luphoria (Developer)</li>
            <li>trentwiles (Developer)</li>
            <li>Degen-dev (Developer)</li>
            <li>B3ATDROP3R</li>
            <li>Catolan</li>
            <li>Nautica (Reinin)</li>
            <li>LinuxTerm (Contributor)</li>
            <li>H (Not Speed)</li>
            <li>BananaVeyLover</li>
            <li>IronApple (The Apple Addict)</li>
          </ul>
          <p>
            And everyone else inside Titanium Network, the various testers and
            of course Mercury Workshop. Also a certain Michael :D
          </p>
          <div class="text-center">
            <div class="image-container-hero">
              <img class="potato" src="/assets/img/potato.png" alt="icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <script src="assets/js/csel.js"></script>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
  </body>
</html>
