<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="version" content="<!-- VERSION -->" />
    <title>Hol&#173;y Un&#173;b&#173;l&#173;ock&#173;e&#173;r</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon-small.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js"></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="background-animated" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box-clear box-credits text-center textm">
        <h1 class="bigtitle">Credits</h1>
        <p>Contact information can be viewed <a href="/?t">here.</a></p>
        <h2>What is H&#173;oly Unblo&#173;cker?</h2>
        <p>
          Ho&#173;ly Un&#173;blo&#173;cker, an off&#173;icial fla&#173;gship Titan&#173;ium Netwo&#173;rk site, can byp&#173;ass
          we&#173;b filte&#173;rs regardless of whet&#173;her it is an exten&#173;sion or
          netwo&#173;rk-based.<br />Being a secu&#173;re web p&#173;roxy ser&#173;vice, it s&#173;upports
          nume&#173;rous sites while being up&#173;dated freq&#173;uently and concent&#173;rating on
          detail with de&#173;sign, mech&#173;anics, and featur&#173;es.
        </p>
        <h2>What is Tit&#173;anium Ne&#173;twork about?</h2>
        <p>
          T&#173;itani&#173;um Ne&#173;two&#173;rk is an o&#173;rganization dedicated to provi&#173;ding priv&#173;ate
          inte&#173;rnet access by bypa&#173;ssing the over-restricti&#173;ve filt&#173;ers employed by
          institutions like sc&#173;hools or workp&#173;laces.
        </p>
        <div>
          <h3>M&#173;ain Develo&#173;pers:</h3>
          <ul class="binside">
            <li>
              Qui&#173;te A Fa&#173;ncy Emera&#173;ld (Creat&#173;or and Ow&#173;ner, Disco&#173;rd: @quiteafa&#173;ncyemerald)
            </li>
            <li>
              Ol&#173;yB/BinBash&#173;Banana (Co-Own&#173;er, Main Contr&#173;ibutor, v5 rewrite, Tab Cloak,
              webret&#173;ro dev, Dis&#173;cord: OlyB#942&#173;0)
            </li>
            <li>
              YOC&#173;TDONA&#173;LD'S (Co-O&#173;wner, v6&#173;+, M&#173;ain Contribu&#173;tor, "H&#173;U no-lifer", Obfusc&#173;ated Bug&#173;hunter Le&#173;gend)
            </li>
          </ul>
          <h3>Contributo&#173;rs and Not&#173;able Menti&#173;ons:</h3>
          <ul class="binside">
            <li>Kin&#173;glalu (Ga&#173;mes Page, Develop&#173;er)</li>
            <li>Motor&#173;Truck1221 (Mass&#173;ive Contr&#173;ibutor, Fast&#173;ify Rewrite, De&#173;veloper)</li>
            <li>pe&#173;rcs (Ultr&#173;av&#173;iolet, Wi&#173;sp, Deve&#173;loper)</li>
            <li>scarat&#173;ek (Con&#173;tributor, Ref&#173;actor Sup&#173;port)</li>
            <li>
              MikeLim&#173;e (O&#173;ld Co-Ow&#173;ner of Ti&#173;taniu&#173;mNe&#173;twork &amp; Mass Prox&#173;y Site Ma&#173;er,
              W&#173;eb D&#173;eveloper, and Sof&#173;tware De&#173;veloper)
            </li>
            <li>Se&#173;xyDu&#173;ceDu&#173;ce (P&#173;roxy and We&#173;b Develo&#173;per)</li>
            <li>Divi&#173;de (Chatbo&#173;x, Pr&#173;oxy/We&#173;b Devel&#173;oper)</li>
            <li>LQ&#173;16 (Cre&#173;ator of T&#173;N, Ret&#173;ired)</li>
            <li>S&#173;hirt (O&#173;ld Co&#173;-O&#173;wner of TN, Everyth&#173;ing D&#173;evel&#173;oper And K&#173;ing O&#173;f Pok&#173;em&#173;on)</li>
            <li>So&#173;up (C&#173;at Lad&#173;y) he&#173;&#173;he</li>
            <li>a&#173;ub (Ow&#173;ner of T&#173;itani&#173;um Net&#173;work)</li>
            <li>Bin&#173;ary Pe&#173;rson (pretty pog)</li>
            <li>Pillo&#173;w (Hos&#173;ting Con&#173;tributor, Develo&#173;per)</li>
            <li>lup&#173;horia (Deve&#173;loper)</li>
            <li>tr&#173;entwiles (Devel&#173;oper)</li>
            <li>De&#173;gen-d&#173;ev (Deve&#173;loper)</li>
            <li>B3&#173;ATDRO&#173;P3R</li>
            <li>Ca&#173;tol&#173;an</li>
            <li>Naut&#173;ica (Rei&#173;nin)</li>
            <li>Linu&#173;xTerm (Contr&#173;ibutor)</li>
            <li>H (N&#173;ot Sp&#173;eed)</li>
            <li>Banan&#173;aVeyLov&#173;er</li>
            <li>IronAp&#173;ple (The A&#173;pple Ad&#173;dict)</li>
          </ul>
          <p>
            And ever&#173;yone el&#173;se in&#173;side Ti&#173;tanium Net&#173;work, the vari&#173;ous testers and
            of course Mer&#173;cury Work&#173;shop. Also a certain Mic&#173;ael :D
          </p>
          <div class="text-center">
            <div class="image-container-hero">
              <img class="potato" src="/assets/img/potato.png" alt="icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <script src="assets/js/csel.js"></script>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script defer="defer" src="assets/js/background/main.js"></script>
  </body>
</html>
