<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#8203;oly Unb&#8203;loc&#8203;ke&#8203;r</title>
    <meta name="description" content="G&#8203;et p&#8203;ast in&#8203;te&#8203;r&#8203;net ce&#8203;n&#8203;s&#8203;or&#8203;sh&#8203;ip tod&#8203;a&#8203;y! Look through the expansi&#8203;ve g&#8203;a&#8203;me library with some epic cla&#8203;ssic&#8203;s.">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://arc.io">
    <link rel="dns-prefetch" href="https://arc.io">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <script defer="defer" src="assets/js/header.js"></script>

</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search" style="height: 100px;">
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <div class="container"><a class="navbar-brand" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;font-size: 21px;margin: 10px;font-style: normal;font-weight: bold;" href="/">H&#173;o&#173;ly U&#173;n&#173;b&#173;lo&#173;c&#173;k&#173;er</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">T&#173;ogg&#173;le nav&#173;igati&#173;on</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?z" style="font-family: 'Montserrat Alternates', sans-serif;">W&#173;eb Pr&#173;ox&#173;ie&#173;s</a></li>
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?g" style="font-family: 'Montserrat Alternates', sans-serif;">G&#173;a&#173;me&#173;s</a></li>
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?y" style="font-family: 'Montserrat Alternates', sans-serif;">Yo&#173;uT&#173;u&#173;be</a></li>
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?d" style="font-family: 'Montserrat Alternates', sans-serif;">D&#173;isc&#173;or&#173;d</a></li>
                        <li class="nav-item" id="ch" data-bs-hover-animate="pulse"><a class="nav-link" href="/?n" style="font-family: 'Montserrat Alternates', sans-serif;">Ch&#173;a&#173;tbo&#173;x</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#" style="opacity: 0.80;color: #fff;font-family: 'Montserrat Alternates', sans-serif;">M&#173;or&#173;e
                                <i class="ion-md-more" style="margin: 5px;"></i></a>
                            <div class="dropdown-menu ion-md-menu" role="menu" style="background-color: #151618;opacity: 0.95;font-family: 'Titillium Web', sans-serif;padding: 17%;padding-top: 10%;padding-bottom: 10%;">
                                <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?in" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">D&#173;oc&#173;s</a>
                                <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?faq" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">FA&#173;Q</a>
                                <a id="menuitem" class="dropdown-item" role="presentation" href="/?c" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">Cre&#173;d&#173;its</a>
                            </div>
                        </li>
                        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" style="margin-left: 15px;font-family: 'Montserrat Alternates', sans-serif;font-size: 15px;" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#">Settings
                                <i class="ion-md-barcode" style="margin: 5px;"></i>
                            </a>
                            <div id="csel" class="dropdown-menu" role="menu">
                                <p class="csel-l" style="color: #d8dee9">T&#173;ab Cl&#173;oak</p>
                                <p class="csel-p">Ch&#173;a&#173;nge t&#173;he Tit&#173;le.</p>
                                <form id="titleform"><input class="bg-dark border rounded-0 border shadow-lg" type="text" placeholder="Tab Title"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                        type="submit" value="Ap&#173;ply"></form>
                                <p class="csel-p" style="margin-top: 5px;">C&#173;han&#173;ge t&#173;he <a href="/?i">Ic&#173;on</a>.</p>
                                <form id="iconform"><input class="bg-dark border rounded-0 border shadow-lg" type="url" placeholder="Icon URL"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                        type="submit" value="Ap&#173;ply"></form>
                                <form id="toolsform" style="margin-top: 10px;"><a class="btn btn-dark btn-lg bg-dark border-dark rounded-1 border shadow-lg" data-bs-hover-animate="pulse" href="/?x" type="button" class="tb-btn">Book&#173;mar&#173;kl&#173;et&#173;s</a></form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
        <div id="particles-js" class="in-bg">
            <div class="d-flex justify-content-center" style="position:absolute;width:100%;">
                <script src="particles.js"></script>
                <script>
                    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                    particlesJS.load('particles-js', 'particles.json', function() {
                        console.log('particlesjs loaded.......');
                    });
                </script>
                <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                <div style="padding: 0px 2%;">
                    <div class="box">
                        <div id="glist">
                            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                            <div class="d-flex container flex-wrap justify-content-center">
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="firemble" href="#">
                                            <img src="/assets/img/emulib/firemble.png" alt="Fire&#8203; Em&#8203;blem">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Fir&#8203;e Embl&#8203;em</p><br>Dest&#8203;roy your ene&#8203;mies in this tactic&#8203;al role-pl&#8203;aying ga&#8203;me!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="finnafy3" href="#">
                                            <img src="/assets/img/emulib/finnafy3.png" alt="Final&#8203; Fan&#8203;ta&#8203;sy 3">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Final&#8203; Fan&#8203;ta&#8203;sy 3</p><br>Action role-pl&#8203;aying ga&#8203;me, known as FF &#8203;IV outside of the US.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="earthbnd" href="#">
                                            <img src="/assets/img/emulib/earthbnd.png" alt="Earth&#8203;bo&#8203;und">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Earth&#8203;bo&#8203;und</p><br>what
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="metrido" href="#">
                                            <img src="/assets/img/emulib/metrido.png" alt="Metro&#8203;id">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Metro&#8203;id</p><br>Fig&#8203;ht ali&#8203;en mon&#8203;sters in this action-&#8203;packed sidesc&#8203;rolling sh&#8203;oo&#8203;ter!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermetrido" href="#">
                                            <img src="/assets/img/emulib/supermetrido.png" alt="Su&#8203;per Metro&#8203;id">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Su&#8203;per Metro&#8203;id</p><br>Stop the space pi&#8203;rates before it is too late!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="donkeyc" href="#">
                                            <img src="/assets/img/emulib/donkeyc.png" alt="Don&#8203;key K&#8203;ong &#8203;Country">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Don&#8203;key K&#8203;ong &#8203;Country</p><br>Reclaim your banana h&#8203;oar&#8203;d with Did&#8203;dy K&#8203;ong at your side.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="pkmncrystal" href="#">
                                            <img src="/assets/img/emulib/pkmncrystal.png" alt="P&#8203;ok&#8203;em&#8203;on Crystal">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">P&#8203;ok&#8203;em&#8203;on Crystal</p><br>Go&#8203;tta catch '&#8203;em all!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="pkmnfirered" href="#">
                                            <img src="/assets/img/emulib/pkmnfirered.png" alt="P&#8203;ok&#8203;em&#8203;on Fire&#8203;Red">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">P&#8203;ok&#8203;em&#8203;on Fire&#8203;Red</p><br>Remake of P&#8203;ok&#8203;em&#8203;on red version.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="pkmnemerald" href="#">
                                            <img src="/assets/img/emulib/pkmnemerald.png" alt="P&#8203;ok&#8203;em&#8203;on Em&#8203;erald">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">P&#8203;ok&#8203;em&#8203;on Em&#8203;erald</p><br>Quite&#8203; a Fan&#8203;cy P&#8203;ok&#8203;em&#8203;on ga&#8203;me :D
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="sanic3" href="#">
                                            <img src="/assets/img/emulib/sanic3.png" alt="Son&#8203;ic 3">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Son&#8203;ic 3</p><br>Save the forest from ev&#8203;il Dr. Egg&#8203;man!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="sorage2" href="#">
                                            <img src="/assets/img/emulib/sorage2.png" alt="Street&#8203;s of R&#8203;age 2">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Street&#8203;s of R&#8203;age 2</p><br>Fig&#8203;ht through h&#8203;or&#8203;des of ene&#8203;mies in this side&#8203;-sc&#8203;rolling fig&#8203;hting ga&#8203;me!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="tertisgb" href="#">
                                            <img src="/assets/img/emulib/tertis.png" alt="Tetr&#8203;is">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Tetr&#8203;is</p><br>The original.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="thelegendz" href="#">
                                            <img src="/assets/img/emulib/thelegendz.png" alt="The Legend of Ze&#8203;lda">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">The Legend of Ze&#8203;lda</p><br>The original Ze&#8203;lda ga&#8203;me.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="theadventurelink" href="#">
                                            <img src="/assets/img/emulib/theadventurelink.png" alt="The Advent&#8203;ure of L&#8203;ink">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">The Advent&#8203;ure of L&#8203;ink</p><br>The sequel to The Legend of Ze&#8203;lda.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="alinkpast" href="#">
                                            <img src="/assets/img/emulib/alinkpast.png" alt="A L&#8203;ink to the Past">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">The Legend of Ze&#8203;lda: A L&#8203;ink to the Past</p><br>The first ever Ze&#8203;lda ga&#8203;me on the SN&#8203;ES!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="theminishhat" href="#">
                                            <img src="/assets/img/emulib/theminishhat.png" alt="The Mini&#8203;sh Cap">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">The Legend of Ze&#8203;lda: The Mini&#8203;sh Cap</p><br>Ze&#8203;lda comes to the G&#8203;BA.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermkart" href="#">
                                            <img src="/assets/img/emulib/supermkart.png" alt="Super Ma&#8203;rio Kart">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio Kart</p><br>The original Ma&#8203;rio Kart ga&#8203;me.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="mkartsc" href="#">
                                            <img src="/assets/img/emulib/mkartsc.png" alt="Ma&#8203;rio K&#8203;art: Su&#8203;per Circuit">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ma&#8203;rio K&#8203;art: Su&#8203;per Circuit</p><br>Ma&#8203;rio Kart comes to the G&#8203;BA.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermbros" href="#">
                                            <img src="/assets/img/emulib/supermbros.png" alt="Super Ma&#8203;rio B&#8203;ros.">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio B&#8203;ros.</p><br>The original Ma&#8203;rio ga&#8203;me.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermbros2" href="#">
                                            <img src="/assets/img/emulib/supermbros2.png" alt="Super Ma&#8203;rio B&#8203;ros. 2">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio B&#8203;ros. 2</p><br>Do&#8203;ki Do&#8203;ki Pan&#8203;ic.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermbros3" href="#">
                                            <img src="/assets/img/emulib/supermbros3.png" alt="Super Ma&#8203;rio B&#8203;ros. 3">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio B&#8203;ros. 3</p><br>Ma&#8203;rio gets an up&#8203;grade! Lots of the&#8203;m in fact.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermland" href="#">
                                            <img src="/assets/img/emulib/supermland.png" alt="Super Ma&#8203;rio L&#8203;and">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio L&#8203;and</p><br>Ma&#8203;rio's first ga&#8203;me on the Ga&#8203;me&#8203;Boy.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermworld" href="#">
                                            <img src="/assets/img/emulib/supermworld.png" alt="Super Ma&#8203;rio World">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio World</p><br>First Ma&#8203;rio ga&#8203;me on the SN&#8203;ES, featuring Yos&#8203;hi!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermworld2" href="#">
                                            <img src="/assets/img/emulib/supermworld2.png" alt="Yos&#8203;hi's Island">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio World 2: Yos&#8203;hi's Island</p><br>The first ga&#8203;me in the Yos&#8203;hi series.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermallstar" href="#">
                                            <img src="/assets/img/emulib/supermallstar.png" alt="Super Ma&#8203;rio All Star&#8203;s">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio All Star&#8203;s</p><br>Super Ma&#8203;rio B&#8203;ros., 2, 3, L&#8203;ost Level&#8203;s + Brick Fix
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermadvance" href="#">
                                            <img src="/assets/img/emulib/supermadvance.png" alt="Super Ma&#8203;rio Adv&#8203;ance">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio Adv&#8203;ance</p><br>Super Ma&#8203;rio Bros. 2 comes to the G&#8203;BA.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermadvance2" href="#">
                                            <img src="/assets/img/emulib/supermadvance2.png" alt="Super Ma&#8203;rio Adv&#8203;ance 2">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio Adv&#8203;ance 2</p><br>Super Ma&#8203;rio World comes to the G&#8203;BA.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermadvance3" href="#">
                                            <img src="/assets/img/emulib/supermadvance3.png" alt="Super Ma&#8203;rio Adv&#8203;ance 3">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio Adv&#8203;ance 3</p><br>Yos&#8203;hi's Island comes to the G&#8203;BA.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a class="" id="supermadvance4" href="#">
                                            <img src="/assets/img/emulib/supermadvance4.png" alt="Super Ma&#8203;rio Adv&#8203;ance 4">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Super Ma&#8203;rio Adv&#8203;ance 4</p><br>Super Ma&#8203;rio Bros. 3 comes to the G&#8203;BA.
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div style="padding:6px;">
                                <p>Have a ga<wbr>me request? Contact us on
                                    <a id="tnlink"></a> or make a <a id="hblink">pu<wbr>ll requ<wbr>est or iss<wbr>ue</a>!</p>
                                <p>More ga<wbr>mes com<wbr>ing soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="footer-dark ft-bg">
        <footer>
            <div class="container">
                <div class="row" style="margin: 5%;">
                    <div class="col-md-6 item text">
                        <h3><a href="/">Ho<wbr>ly Unb<wbr>lo<wbr>c<wbr>ker</a></h3>
                        <p>Ma<wbr>de by St<wbr>ud<wbr>en<wbr>ts, Fo<wbr>r Stu<wbr>den<wbr>ts.&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Se<wbr>rvic<wbr>es</h3>
                        <ul>
                            <li><a id="allink">Al<wbr>loy</a></li>
                            <li><a id="plink">PM P<wbr>ro<wbr>xy</a></li>
                            <li><a id="nclink">No<wbr>d<wbr>eClu<wbr>st<wbr>e<wbr>rs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a id="hblink">G<wbr>itHub</a></li>
                            <li><a href="/?t">P<wbr>riva<wbr>cy and Te<wbr>rms of Ser<wbr>v<wbr>ice</a></li>
                            <li><a href="/?c">Cre<wbr>dit<wbr>s</a></li>
                        </ul>
                    </div>
                    <div class="col item social center ft-g">
                        <a id="hblink2">
                            <i class="ion-logo-github"></i>
                        </a>
                    </div>
                </div>
                <p class="copyright">H<wbr>ol<wbr>y U<wbr>nb<wbr>lo<wbr>cke<wbr>r © 20<wbr>21</p>
            </div>
        </footer>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="expr/common.js"></script>
    <script src="assets/js/links.js"></script>
    <script src="expr/surf.js"></script>
    <script src="expr/emulib-nav.js"></script>
    <script defer="defer" src="assets/js/jquery.min.js"></script>
    <script defer="defer" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>