<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#8203;oly Unb&#8203;loc&#8203;ke&#8203;r</title>
    <meta name="description" content="G&#8203;et p&#8203;ast in&#8203;te&#8203;r&#8203;net ce&#8203;n&#8203;s&#8203;or&#8203;sh&#8203;ip tod&#8203;a&#8203;y! Look through the expansi&#8203;ve g&#8203;a&#8203;me library with some epic cla&#8203;ssic&#8203;s.">
    <meta name="theme-color" content="#ffc0cb">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://arc.io">
    <link rel="dns-prefetch" href="https://arc.io">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <script src="assets/js/header.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">

</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search" style="height: 100px;">
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <div class="container"><a class="navbar-brand" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;font-size: 21px;margin: 10px;font-style: normal;font-weight: bold;" href="/">H&#173;o&#173;ly U&#173;n&#173;b&#173;lo&#173;c&#173;k&#173;er</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">T&#173;ogg&#173;le nav&#173;igati&#173;on</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?z" style="font-family: 'Montserrat Alternates', sans-serif;">W&#173;eb Pr&#173;ox&#173;ie&#173;s</a></li>
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?g" style="font-family: 'Montserrat Alternates', sans-serif;">G&#173;a&#173;me&#173;s</a></li>
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?y" style="font-family: 'Montserrat Alternates', sans-serif;">Yo&#173;uT&#173;u&#173;be</a></li>
                        <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?d" style="font-family: 'Montserrat Alternates', sans-serif;">D&#173;isc&#173;or&#173;d</a></li>
                        <li class="nav-item" id="ch" data-bs-hover-animate="pulse"><a class="nav-link" href="/?n" style="font-family: 'Montserrat Alternates', sans-serif;">Ch&#173;a&#173;tbo&#173;x</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#" style="opacity: 0.80;color: #fff;font-family: 'Montserrat Alternates', sans-serif;">M&#173;or&#173;e
                                <i class="ion-md-more" style="margin: 5px;"></i></a>
                            <div class="dropdown-menu ion-md-menu" role="menu" style="background-color: #151618;opacity: 0.95;font-family: 'Titillium Web', sans-serif;padding: 17%;padding-top: 10%;padding-bottom: 10%;">
                                <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?in" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">D&#173;oc&#173;s</a>
                                <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?faq" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">FA&#173;Q</a>
                                <a id="menuitem" class="dropdown-item" role="presentation" href="/?c" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">Cre&#173;d&#173;its</a>
                            </div>
                        </li>
                        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" style="margin-left: 15px;font-family: 'Montserrat Alternates', sans-serif;font-size: 15px;" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#">Settings
                                <i class="ion-md-barcode" style="margin: 5px;"></i>
                            </a>
                            <div id="csel" class="dropdown-menu" role="menu">
                                <p class="csel-l" style="color: #d8dee9">T&#173;ab Cl&#173;oak</p>
                                <p class="csel-p">Ch&#173;a&#173;nge t&#173;he Tit&#173;le.</p>
                                <form id="titleform"><input class="bg-dark border rounded-0 border shadow-lg" type="text" placeholder="Tab Title"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                        type="submit" value="Ap&#173;ply"></form>
                                <p class="csel-p" style="margin-top: 5px;">C&#173;han&#173;ge t&#173;he <a href="/?i">Ic&#173;on</a>.</p>
                                <form id="iconform"><input class="bg-dark border rounded-0 border shadow-lg" type="url" placeholder="Icon URL"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                        type="submit" value="Ap&#173;ply"></form>
                                <form id="toolsform" style="margin-top: 10px;"><a class="btn btn-dark btn-lg bg-dark border-dark rounded-1 border shadow-lg" data-bs-hover-animate="pulse" href="/?x" type="button" class="tb-btn">Book&#173;mar&#173;kl&#173;et&#173;s</a></form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="particles-js">
            <div class="d-flex justify-content-center" style="position:absolute; width:100%;">
                <script src="particles.js"></script>
                <script>
                    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                    particlesJS.load('particles-js', 'particles.json', function() {
                        console.log('particlesjs loaded.......');
                    });
                </script>
                <!-- G Embed  -->
                <div style="padding: 0px 2%;">
                    <div class="box">
                        <div id="glist">
                            <!--GPage-->
                            <div class="gpage d-flex flex-wrap container-fluid justify-content-center">
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="droom" href="#">
                                            <img src="/assets/img/darkroom.png" alt="A Da&#8203;rk Ro&#8203;om">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">A Da&#8203;rk Roo&#8203;m</p><br>A pl&#8203;ayer lig&#8203;hts a fir&#8203;e in a da&#8203;rk ro&#8203;om.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="os" href="#">
                                            <img style="padding-top: 15px;" src="/assets/img/os1.png" alt="o&#8203;su!">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">o&#8203;su!</p><br>Rh&#8203;ythm is j&#8203;ust a *clic&#8203;k* awa&#8203;y!<br>If you exp&#8203;erienc&#8203;e an&#8203;y in&#8203;put l&#8203;ag be sur&#8203;e t&#8203;o rea&#8203;d ove&#8203;r the o&#8203;su!
                                            FA&#8203;Q pa&#8203;ge.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="dino" href="#">
                                            <img src="/assets/img/dino.jpg" alt="dinogame">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">T&#8203;-Re&#8203;x G&#8203;ame (chro&#8203;me://di&#8203;no)</p><br>The T-R&#8203;ex R&#8203;unner g&#8203;ame, an Easter E&#8203;gg in Goo&#8203;gle Chr&#8203;ome.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="lasttrain" href="#">
                                            <img src="/assets/img/train.png" alt="L&#8203;ast Tr&#8203;ain Ho&#8203;me">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">L&#8203;ast Tr&#8203;ain Ho&#8203;me</p><br>T&#8203;his is a short h&#8203;orr&#8203;or-adve&#8203;nt&#8203;ure gam&#8203;e abo&#8203;ut being stu&#8203;ck on a trai&#8203;n. M&#8203;ay t&#8203;ake awh&#8203;il&#8203;e
                                            to lo&#8203;ad.
                                            <br>(Credits: G&#8203;ame c&#8203;an be fou&#8203;nd <a id="ilink">he&#8203;re</a>.)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="village" href="#">
                                            <img src="/assets/img/village.png" alt="Vi&#8203;lla&#8203;ge Arso&#8203;nist">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Vi&#8203;lla&#8203;ge Arso&#8203;nist</p><br>Vil&#8203;lage Arso&#8203;nist is a 2&#8203;D phys&#8203;ics-ba&#8203;sed puz&#8203;zle g&#8203;ame. M&#8203;ay t&#8203;ake awh&#8203;il&#8203;e to lo&#8203;ad...
                                            a lo&#8203;ng whi&#8203;le.
                                            <br>(Credits: G&#8203;ame c&#8203;an be fou&#8203;nd <a id="ilink2">he&#8203;re</a>.)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="mc" href="#">
                                            <img src="/assets/img/mc.png" alt="Mi&#8203;necra&#8203;ft">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Min&#8203;ecr&#8203;aft J&#8203;S</p><br>Min&#8203;ecra&#8203;ft but made in Javascript.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="speed" href="#">
                                            <img src="/assets/img/speed.png" alt="Wh&#8203;at T&#8203;he R&#8203;oa&#8203;d B&#8203;ri&#8203;ngs">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Wh&#8203;at T&#8203;he R&#8203;oa&#8203;d B&#8203;ri&#8203;ngs</p><br>A ps&#8203;eu&#8203;do, vap&#8203;orw&#8203;av&#8203;e 3&#8203;d race&#8203;r with an ep&#8203;ic so&#8203;un&#8203;dtrac&#8203;k and a&#8203;rt
                                            sty&#8203;le. M&#8203;ay t&#8203;ake awh&#8203;il&#8203;e to lo&#8203;ad.
                                            <br>(Credits: G&#8203;ame c&#8203;an be fou&#8203;nd <a id="ilink3">he&#8203;re</a>.)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="sna" href="#">
                                            <img src="/assets/img/snake.png" alt="S&#8203;nake">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Sn&#8203;a&#8203;ke</p><br>Eat the ap&#8203;ples in this c<wbr>lassic retr<wbr>o ga<wbr>me. Bu&#8203;t d&#8203;on't hi&#8203;t the wal&#8203;l, or ea&#8203;t y&#8203;our own tai&#8203;l! How lon&#8203;g can
                                            yo&#8203;u surviv&#8203;e?
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="sm64" href="#">
                                            <img src="/assets/img/sm64.png" alt="S&#8203;uper M&#8203;a&#8203;rio 6&#8203;4">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">S&#8203;uper M&#8203;a&#8203;rio 6&#8203;4</p><br>A cla&#8203;ssi&#8203;c. S&#8203;upe&#8203;r Ma&#8203;ri&#8203;o 6&#8203;4 i&#8203;s a 19&#8203;&#8203;96 pla&#8203;tf&#8203;orm g&#8203;am&#8203;e for the Nint&#8203;e&#8203;nd&#8203;o
                                            6&#8203;4 and th&#8203;e fi&#8203;rst Su&#8203;per Mar&#8203;io g&#8203;ame to featu&#8203;re 3D gamepl&#8203;ay.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="zork" href="#">
                                            <img src="/assets/img/zork.png" alt="Zo&#8203;rk Clone">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Zo&#8203;rk Clone</p><br>Zo&#8203;rk is an int&#8203;era&#8203;cti&#8203;ve fict&#8203;ion co&#8203;mput&#8203;er ga&#8203;me.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="prison" href="#">
                                            <img src="/assets/img/prison.png" alt="P&#8203;ick U&#8203;p Pri&#8203;son">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">P&#8203;ick U&#8203;p Pri&#8203;son</p><br>A&#8203;t th&#8203;e begin&#8203;ning… The&#8203;re was noth&#8203;ing… Th&#8203;ere is a p&#8203;rison&#8203;er in a ce&#8203;ll wit&#8203;h nothin&#8203;g. M&#8203;ay
                                            t&#8203;ake awh&#8203;il&#8203;e to lo&#8203;ad.
                                            <br>(Credits: G&#8203;ame c&#8203;an be fou&#8203;nd <a id="ilink6">he&#8203;re</a>.)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="heli" href="#">
                                            <img src="/assets/img/helo.png" alt="He&#8203;l&#8203;o S&#8203;to&#8203;rm">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">He&#8203;l&#8203;o S&#8203;to&#8203;rm</p><br>Endl&#8203;ess he&#8203;licop&#8203;ter and Je&#8203;ep sho&#8203;ot 'e&#8203;m up base&#8203;d on the 8&#8203;0's ar&#8203;cad&#8203;e cl&#8203;assic 'Si&#8203;lkw&#8203;orm'.
                                            <br>(Credits: G&#8203;ame c&#8203;an be fou&#8203;nd <a id="ilink4">he&#8203;re</a>.)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="retro" href="#">
                                            <img src="/assets/img/retrohaunt.png" alt="Ret&#8203;rohaunt">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Retrohaunt</p><br>A creepy re<wbr>tro hor&#8203;ror ga<wbr>me with int&#8203;eres&#8203;ting graphic&#8203;s and moo&#8203;d.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="r3" href="#">
                                            <img src="/assets/img/r3.png" alt="Ru&#8203;n 3">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">R&#8203;un 3</p><br>U&#8203;se the arr&#8203;ow ke&#8203;ys to r&#8203;un and j&#8203;ump. La&#8203;nd on a si&#8203;de wa&#8203;ll to rota&#8203;te the wor&#8203;ld. (Wor&#8203;king Versi&#8203;on)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="rp" href="#">
                                            <img src="/assets/img/dd.png" alt="D&#8203;ie i&#8203;n t&#8203;he Du&#8203;nge&#8203;on">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">D&#8203;ie i&#8203;n t&#8203;he Du&#8203;nge&#8203;on</p><br>D&#8203;ie in th&#8203;e D&#8203;unge&#8203;on is a de&#8203;ck-build&#8203;ing, tu&#8203;rn-ba&#8203;sed rog&#8203;uel&#8203;ite. M&#8203;ay t&#8203;ake
                                            awh&#8203;il&#8203;e to lo&#8203;ad.
                                            <br>(Credits: G&#8203;ame c&#8203;an be fou&#8203;nd <a id="ilink5">he&#8203;re</a>.)
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="trimps" href="#">
                                            <img src="/assets/img/trimps.png" alt="Tr&#8203;imp&#8203;s">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Tr&#8203;imp&#8203;s</p><br>P&#8203;ure gri&#8203;nd.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="gopher" href="#">
                                            <img src="/assets/img/gopher2.png" alt="Go&#8203;pher Ca&#8203;rt">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">G&#8203;opher Ca&#8203;rt</p><br>Fun driv&#8203;ing s&#8203;ide scro&#8203;ller gam&#8203;e with e&#8203;pic gophe&#8203;rs.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="cookiec" href="#">
                                            <img src="/assets/img/cookie.png" alt="Coo&#8203;kie Clicker">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Co&#8203;okie Clic&#8203;ker</p><br>You fee&#8203;l li&#8203;ke m&#8203;aking co&#8203;ok<wbr>ies but no one want&#8203;s to e<wbr>at th<wbr>em. Cl&#8203;ick on the coo<wbr>kie to b&#8203;ake and ea&#8203;t.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="partclick" href="#">
                                            <img src="/assets/img/pclick.png" alt="Particle Clicker">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">P&#8203;article Clic&#8203;ker</p><br>An ad&#8203;dic&#8203;tiv&#8203;e incr&#8203;emen&#8203;tal ga&#8203;me that teaches pla&#8203;yers the history of high energy particle physics.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="evilg" href="#">
                                            <img src="/assets/img/glitch2.png" alt="E&#8203;vil Glitch">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ev&#8203;il Glit&#8203;ch</p><br>Str&#8203;ange glitc&#8203;hes app&#8203;ear in your dim&#8203;ens&#8203;ion, c&#8203;ould you stop t&#8203;hem to ass&#8203;imil&#8203;ate your wor&#8203;ld?
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="pk" href="#">
                                            <img src="/assets/img/pcma.png" alt="Pacman">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Pa&#8203;cma&#8203;n</p><br>T&#8203;he class&#8203;ic.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="flab" href="#">
                                            <img src="/assets/img/flappybird.png" alt="Flap&#8203;pyBir&#8203;d">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Fla&#8203;ppy Bir&#8203;d</p><br>Cli&#8203;ck on the sc&#8203;reen, or use your space<wbr>bar to ge&#8203;t sta&#8203;r&#8203;ted. F<wbr>ly the bi&#8203;&#8203;d as f&#8203;ar as y&#8203;ou ca&#8203;n with&#8203;out
                                            hi&#8203;tting a pi&#8203;pe.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="bobb" href="#">
                                            <img src="/assets/img/bounceback.png" alt="Bounc&#8203;eback">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Boun&#8203;ce&#8203;back</p><br>A charmin&#8203;g and add&#8203;ic&#8203;tiv&#8203;e l&#8203;ittl&#8203;e Z&#8203;el&#8203;da ins&#8203;pire&#8203;d rogu&#8203;eli&#8203;ke adve&#8203;nture ga&#8203;me.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="chroi" href="#">
                                            <img src="/assets/img/chroma.png" alt="Chr&#8203;oma Incident">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Chr&#8203;oma Incide&#8203;nt</p><br>The Ach&#8203;romats have taken the w&#8203;orlds co&#8203;lor offl&#8203;ine!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="sleepb" href="#">
                                            <img src="/assets/img/sleep.png" alt="Sleep&#8203;ing Beauty">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Sl&#8203;eep&#8203;ing Beau&#8203;ty</p><br>I&#8203;nto a profou&#8203;nd slumber sh&#8203;e sank, surrounde&#8203;d onl&#8203;y by de&#8203;nse bra&#8203;mbles, tho&#8203;rns a&#8203;nd ros&#8203;es.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="tet" href="#">
                                            <img src="/assets/img/tet.png" alt="Tetr&#8203;is">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Te&#8203;tr&#8203;is</p><br>T&#8203;etri&#8203;s ® is t&#8203;he add&#8203;ic&#8203;tive puz&#8203;zle ga<wbr>me that start&#8203;ed it all, embra&#8203;cing our univer&#8203;sal de&#8203;sire to create o&#8203;rder
                                            out of ch&#8203;aos.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="thehouse" href="#">
                                            <img src="/assets/img/thehouse.png" alt="T&#8203;he Ho&#8203;use">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Th&#8203;e Hou&#8203;se</p><br>An interesting ho&#8203;rror sty&#8203;le ga&#8203;me.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="thepond" href="#">
                                            <img src="/assets/img/thepond.png" alt="T&#8203;he Po&#8203;nd">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Th&#8203;e Po&#8203;nd</p><br>Use Mous&#8203;e1 to move around. A ga&#8203;me like Sl&#8203;ithe&#8203;r.i&#8203;o&#8203;.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="nsshaft" href="#">
                                            <img src="/assets/img/nsshaft.png" alt="N&#8203;S Sh&#8203;aft">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">N&#8203;S Sh&#8203;aft</p><br>A fu&#8203;n pla&#8203;tform&#8203;er.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="gameoff" href="#">
                                            <img src="/assets/img/gameoff.png" alt="Gam&#8203;e O&#8203;ff">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ga&#8203;me Of&#8203;f</p><br>A collection of really fun game&#8203;s, particularly anti-matter which is inspired by Po&#8203;rtal.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="tzfe" href="#">
                                            <img src="/assets/img/2048.png" alt="20&#8203;48">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">20&#8203;48</p><br>U&#8203;se your ar&#8203;row keys to mo&#8203;ve the tile&#8203;s. When two tiles with the same number touch, they merge into one. Try to b&#8203;eat your h<wbr>igh sc<wbr>ore!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="aster" href="#">
                                            <img src="/assets/img/astoroids.png" alt="Asteroi&#8203;ds">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">As&#8203;teroi&#8203;ds</p><br>Ast&#8203;ero&#8203;ids is a sp&#8203;ace-th&#8203;emed multi<wbr>direction&#8203;al shoo<wbr>ter ar<wbr>ca<wbr>de ga<wbr>me!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="bre" href="#">
                                            <img src="/assets/img/breaklock.png" alt="Brea&#8203;klock">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Bre&#8203;akloc&#8203;k</p><br>Li&#8203;nk the dots to find the lock patt&#8203;ern. After every attempt the ga<wbr>me will tell you how many do&#8203;ts you got ri&#8203;ght.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="backc" href="#">
                                            <img src="/assets/img/backcountry.png" alt="Bac&#8203;kcountry">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ba&#8203;ckcoun&#8203;try</p><br>T&#8203;aking pla&#8203;ce in the wi&#8203;ld west mi&#8203;ne and do jo&#8203;bs to ea&#8203;rn mon&#8203;ey! Use your mou&#8203;se to navi&#8203;gate by cli&#8203;cking.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="backout" href="#">
                                            <img src="/assets/img/breakout.png" alt="Brea&#8203;kout">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Br&#8203;eak&#8203;out</p><br>Bre&#8203;ak all the bri&#8203;cks and volley the bal&#8203;l ba&#8203;ck and fo&#8203;rth in this skill&#8203;-b&#8203;ased cla&#8203;ssic sty&#8203;led ga<wbr>me!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="ches" href="#">
                                            <img src="/assets/img/chess2.png" alt="Ch&#8203;ess">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Che&#8203;ss</p><br>Che&#8203;ss is a two-p<wbr>lay<wbr>er strategy board ga&#8203;me played on a check&#8203;ered boa&#8203;rd with 6&#8203;4 squ&#8203;ares arranged in an 8×&#8203;8 squa&#8203;re gri&#8203;d.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="connect3" href="#">
                                            <img src="/assets/img/connect.png" alt="Conn&#8203;ect 3">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">C&#8203;onn&#8203;ect 3</p><br>Basically like c<wbr>andy c<wbr>rush.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="towerm" href="#">
                                            <img src="/assets/img/tower.png" alt="Towe&#8203;rmaster">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">T&#8203;owerm&#8203;ast&#8203;er</p><br>Bui&#8203;ld a to&#8203;wer! Sta&#8203;ck obje&#8203;cts on top of each other wi&#8203;thout the build&#8203;ing falli&#8203;ng. How hi&#8203;gh can you g&#8203;o?
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="geodash" href="#">
                                            <img src="/assets/img/geometrydash.png" alt="Geo&#8203;metry Dash">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ge&#8203;ometr&#8203;y Das&#8203;h</p><br>Ju&#8203;mp and f&#8203;ly your way throu&#8203;gh dan&#8203;ger in this rhyth&#8203;m-bas&#8203;ed acti&#8203;on plat&#8203;for&#8203;mer!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="hex" href="#">
                                            <img src="/assets/img/hextris.png" alt="Hextr&#8203;is">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">He&#8203;xtr&#8203;is</p><br>An addic<wbr>tive puzz<wbr>le ga<wbr>me inspired by Tet&#8203;ris.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="astr" href="#">
                                            <img src="/assets/img/astray.png" alt="Ast&#8203;ray">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ast&#8203;ray</p><br>A We<wbr>bGL maze ga<wbr>me built with Th&#8203;ree.js and Box2&#8203;dW&#8203;eb.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="kon" href="#">
                                            <img src="/assets/img/konnekt.png" alt="Konn&#8203;ekt">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ko&#8203;nne&#8203;kt</p><br>Fight against nodes and viruses! An interest&#8203;ing puz<wbr>zle ga<wbr>me developed by MONS<wbr>TERKO<wbr>DI.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="pushba" href="#">
                                            <img src="/assets/img/pushback.png" alt="Pushba&#8203;ck">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Pus&#8203;hba&#8203;ck</p><br>A cool physics ga<wbr>m<wbr>e!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="unr" href="#">
                                            <img src="/assets/img/underrun.png" alt="Unde&#8203;rrun">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Und&#8203;er&#8203;ru&#8203;n</p><br>Exp&#8203;lore de&#8203;ep undergrou&#8203;nd in this doo<wbr>m-like ga<wbr>me. Kill enemies, explore and progress. Use W<wbr>ASD to move and Mouse1 to sh<wbr>oot.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="race" href="#">
                                            <img src="/assets/img/racer.png" alt="R&#8203;acer">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Ra&#8203;cer</p><br>Want to ra&#8203;ce onli&#8203;ne? Enjoy an old age like raci&#8203;ng gam<wbr>e!
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="x142" href="./archive/g/xx142-b2exe/index.html">
                                            <img src="/assets/img/142.png" alt="xx142-b2e&#8203;xe">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">xx&#8203;142-b2&#8203;ex&#8203;e</p><br>It's the year 241&#8203;3, and aliens have enslaved human&#8203;ity.
                                        </div>
                                    </div>
                                </div>
                                <div class="responsive">
                                    <div class="gallery">
                                        <a id="faball" href="#">
                                            <img src="/assets/img/factory.png" alt="Fa&#8203;ctoryballs">
                                        </a>
                                        <div class="desc">
                                            <p style="font-weight: bold;">Fact&#8203;orybal&#8203;ls</p><br>A puz<wbr>zle gam<wbr>e w&#8203;here you ha&#8203;ve to c&#8203;olor the bal&#8203;ls corre&#8203;ctly! Use diff&#8203;erent to&#8203;ols to cov&#8203;er up the b&#8203;all
                                            be&#8203;fore sta&#8203;rt pai&#8203;nting over i&#8203;t.
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div style="padding:6px;">
                                <p>Have a ga<wbr>me request? Contact us on
                                    <a id="tnlink"></a> or make a <a id="hblink">pu<wbr>ll requ<wbr>est or iss<wbr>ue</a>!</p>
                                <p>More ga<wbr>mes com<wbr>ing soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="footer-dark ft-bg">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3><a href="/">Ho<wbr>ly Unb<wbr>lo<wbr>c<wbr>ker</a></h3>
                        <p>Ma<wbr>de by St<wbr>ud<wbr>en<wbr>ts, Fo<wbr>r Stu<wbr>den<wbr>ts.&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Se<wbr>rvic<wbr>es</h3>
                        <ul>
                            <li><a id="allink">Al<wbr>loy</a></li>
                            <li><a id="plink">PM P<wbr>ro<wbr>xy</a></li>
                            <li><a id="nclink">No<wbr>d<wbr>eClu<wbr>st<wbr>e<wbr>rs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a id="hblink">G<wbr>itHub</a></li>
                            <li><a href="/?t">P<wbr>riva<wbr>cy and Te<wbr>rms of Ser<wbr>v<wbr>ice</a></li>
                            <li><a href="/?c">Cre<wbr>dit<wbr>s</a></li>
                        </ul>
                    </div>
                    <div class="col item social center ft-g">
                        <a id="hblink2">
                            <i class="ion-logo-github"></i>
                        </a>
                    </div>
                </div>
                <p class="copyright">H<wbr>ol<wbr>y U<wbr>nb<wbr>lo<wbr>cke<wbr>r © 20<wbr>21</p>
            </div>
        </footer>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="expr/common.js"></script>
    <script src="assets/js/links.js"></script>
    <script src="expr/surf.js"></script>
    <script src="expr/h5-nav.js"></script>
    <script defer="defer" src="assets/js/jquery.min.js"></script>
    <script defer="defer" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>