<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Holy Unblocker LTS</title>
    <meta
      name="description"
      content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#434c5e"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="/baremux/index.js" defer></script>
    <script src="/uv/uv.bundle.js" defer></script>
    <script src="/uv/uv.config.js" defer></script>
    <script src="/assets/js/register-sw.js" defer></script>
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="box-g text-center textm">
        <div id="h5-nav" class="glist"></div>
        <div class="gfooter">
          <p>
            Have a game request? Contact us on <a id="tnlink">discord</a> or
            make a <a id="hblink">pull request or issue</a>!
          </p>
          <p>More games coming soon!</p>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
  </body>
</html>
