<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#173;o&#173;ly Un&#173;blo&#173;ck&#173;er</title>
    <meta name="description" content="Ho&#173;ly Unbl&#173;o&#173;c&#173;ker is a se&#173;c&#173;ure we&#173;b pr&#173;ox&#173;y se&#173;rvi&#173;ce with sup&#173;po&#173;rt for many sit&#173;es. By&#173;pa&#173;ss fi&#173;l&#173;ter&#173;s and fr&#173;ee&#173;ly enj&#173;oy a saf&#173;er pr&#173;iva&#173;te b&#173;rowsi&#173;ng expe&#173;ri&#173;ence or u&#173;nblo&#173;ck webs&#173;ites on de&#173;vices such as Chr&#173;omebo&#173;oks and at plac&#173;es li&#173;ke sch&#173;o&#173;ol or wor&#173;k with&#173;out do&#173;wnload&#173;ing anythi&#173;ng."
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="ad" id="ad-left"></div>
        <div class="ad" id="ad-right"></div>
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">Ga&#173;m&#173;e&#173;s Dir&#173;ecto&#173;ry</h1>
            <p class="responsive-fix">Cho&#173;ose where you woul&#173;d like to go. Bel&#173;ow is some inform&#173;ation.</p>
            <div class="font3">
                <h3>Information:</h3>
                <p class="accented">
                    H&#173;ere you can find c&#173;ool stuff like em&#173;ula&#173;tors and gam&#173;es!<br>
                    <br>Emu&#173;lat&#173;ors Featured: G&#173;B(A/&#173;C), N6&#173;4(Br&#173;oken), N&#173;ES, SN&#173;ES, Genes&#173;is
                    <br>E&#173;muLib&#173;r&#173;ary: C&#173;olle&#173;ction of gam&#173;e&#173;s you can play wit&#173;h the v&#173;ar&#173;ious emul&#173;ators he&#173;re. (WI&#173;P)
                    <br>Ga&#173;mes Featured: Lots. Fla&#173;sh support is spot&#173;ty.
                </p>
                <p>Most of the ga&#173;mes here should hopefully be updated.</p>
            </div>
            <div class="responsive-fix">
                <a class="fancybutton glowbutton" href="/?el">Em&#173;ulat&#173;ors</a>
                <a class="fancybutton glowbutton" href="/?m">Em&#173;uLi&#173;br&#173;ar&#173;y</a>
                <a class="fancybutton glowbutton" href="/?h">We&#173;b Ga&#173;mes</a>
                <a class="fancybutton glowbutton" href="/?f">F&#173;la&#173;sh G&#173;am&#173;es</a>
            </div>
        </div>
    </div>
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="assets/js/footer.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
</body>

</html>