<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="version" content="<!-- VERSION -->" />
    <title>Hol&#173;y Un&#173;b&#173;l&#173;ock&#173;e&#173;r</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon-small.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js"></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="background-animated" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="ad" id="ad-left"></div>
      <div class="ad" id="ad-right"></div>
      <div class="box box-medium text-center textm">
        <h1 class="bigtitle">Game&#173;s Direc&#173;tory</h1>
        <p class="responsive-fix">
          Ch&#173;oose where you would like to go. Below is some information.
        </p>
        <div class="font3">
          <h3>Information:</h3>
          <p class="accented">
            Here you can find cool stuff like emul&#173;ators and g&#173;ames!<br />
            <br />Emul&#173;ators Feat&#173;ured: GB(A/C), N6&#173;4(Broken), N&#173;ES, SN&#173;ES, Gen&#173;esis
            <br />EmuLi&#173;brary: Collec&#173;tion of ga&#173;mes you can play with the va&#173;rious
            emula&#173;tors here. (WIP) <br />Gam&#173;es Feat&#173;ured: Lots. Fl&#173;ash supp&#173;ort is
            sp&#173;otty.
          </p>
          <p>Mos&#173;t of the g&#173;ames h&#173;ere shou&#173;ld hop&#173;efully be updat&#173;ed.</p>
        </div>
        <div class="responsive-fix">
          <a class="fancybutton glowbutton" href="/c">Em&#173;ulators</a>
          <a class="fancybutton glowbutton" href="/d">E&#173;muL&#173;ibrary</a>
          <a class="fancybutton glowbutton" href="/e">W&#173;eb Ga&#173;mes</a>
          <a class="fancybutton glowbutton" href="/f">Fla&#173;sh Gam&#173;es</a>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script defer="defer" src="assets/js/background/main.js"></script>
  </body>
</html>
