<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#173;o&#173;ly Un&#173;blo&#173;ck&#173;er</title>
    <meta name="description" content="Ho&#173;ly Unbl&#173;o&#173;c&#173;ker is a se&#173;c&#173;ure we&#173;b pr&#173;ox&#173;y se&#173;rvi&#173;ce with sup&#173;po&#173;rt for many sit&#173;es. By&#173;pa&#173;ss fi&#173;l&#173;ter&#173;s and fr&#173;ee&#173;ly enj&#173;oy a saf&#173;er pr&#173;iva&#173;te b&#173;rowsi&#173;ng expe&#173;ri&#173;ence or u&#173;nblo&#173;ck webs&#173;ites on de&#173;vices such as Chr&#173;omebo&#173;oks and at plac&#173;es li&#173;ke sch&#173;o&#173;ol or wor&#173;k with&#173;out do&#173;wnload&#173;ing anythi&#173;ng."
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="box-clear text-center textm">
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <h1 class="bigtitle">Icon Information</h1>
            <h3>How to find the Icon URL of a Site</h3>
            <p>Go to the website you want an icon from, then use this book&#173;mark&#173;let (drag it to your book&#173;marks bar):</p>
            <div id="bks-parent">
                <a id="iconfinder" class="fancybutton fb-l glowbutton">Find Icon URL</a>
            </div>
            <script>
                document.getElementById("iconfinder").href = `javascript:alert((Array.from(document.head.querySelectorAll("link[rel*='icon']")).slice(-1)[0]||0).href||location.origin+"/favicon.ico")`;
            </script>
            <p>Copy the URL that the bookmarklet gives you. Then go back to HU and enter in the URL for the Ico&#173;n U&#173;RL in Set&#173;tings. Enjoy!</p>
        </div>
    </div>
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="assets/js/footer.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
</body>

</html>