<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="mainbody" class="fullwidth">
      <div class="box-clear text-center textm">
        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
        <h1 class="bigtitle">{{mask}}{{Icon Information}}</h1>
        <h3>{{mask}}{{How to find the Icon URL of a Site}}</h3>
        <p>
          {{mask}}{{ Go to the website you want an icon from, then use this
          bookmarklet (drag it to your bookmarks bar): }}
        </p>
        <div id="bks-parent">
          <a id="iconfinder" class="fancybutton fb-l glowbutton"
            >Find Icon URL</a
          >
        </div>
        <script>
          document.getElementById('iconfinder').href =
            `javascript:alert((Array.from(document.head.querySelectorAll("link[rel*='icon']")).slice(-1)[0]||0).href||location.origin+"{{route}}{{/favicon.ico}}")`;
        </script>
        <p>
          {{mask}}{{ Copy the URL that the bookmarklet gives you. Then go back
          to HU LTS and enter in the URL for the Icon URL in Settings. Enjoy! }}
        </p>
      </div>
    </div>
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  </body>
</html>
