<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="mainbody" class="box-hero">
      <div id="documentation" class="hero-grid-container">
        <div class="box-hero">
          <div class="box-noflex">
            <!--TOS-->
          </div>
        </div>
      </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  </body>
</html>
