* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif
}

body {
    background-color: #FCFCFC;
}

p {
    margin: 5px 0;
}

header {
    background-color: #602777;
    margin: 0 0 40px;
}

header h1 {
    color: white;
    font-weight: normal;
    padding: 20px;
    text-align: center;
}

#container {
    width: 800px;
    margin: auto;
}

.canvas-container {
    text-align: center;
}

canvas {
    border: 1px solid black;
}

.commands {
    margin: 20px 0;
    text-align: center;
}

.commands button {
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px black;
    margin: 0 5px;
    padding: 5px;
}

#error {
    color: #F00;
}

.rom-section:after {
    clear: both;
    content: '';
    display: block;
}

#rom-file {
    float: left;
    width: 50%;
}

#rom-drop {
    float: left;
    width: 50%;
}

#dropzone {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid #999;
    border-radius: 10px;
    transition: color 300ms, background-color 300ms;
}

#dropzone.drag-active {
    background-color: #5555CC;
    color: white;
}

.hide {
    display: none;
}

footer {
    padding: 20px 50px;
    text-align: right;
}

tr,
td,
th {
    border: 1px solid #333;
    padding: 2px 10px;
}

table {
    border-collapse: collapse;
}

#keyboard-info {
    margin: 30px 0 10px;
}