[submodule "views/archive/g/house"]
	path = views/archive/g/house
	url = https://github.com/razh/game-off-2013

[submodule "views/archive/g/househorror"]
	path = views/archive/g/househorror
	url = https://github.com/arturkot/the-house-game

[submodule "views/archive/g/pond"]
	path = views/archive/g/pond
	url = https://github.com/Zolmeister/pond

[submodule "views/archive/g/particle-clicker"]
	path = views/archive/g/particle-clicker
	url = https://github.com/particle-clicker/particle-clicker

[submodule "views/archive/g/nsshaft"]
	path = views/archive/g/nsshaft
	url = https://github.com/iPel/NS-SHAFT

[submodule "views/archive/g/adarkroom"]
	path = views/archive/g/adarkroom
	url = https://github.com/doublespeakgames/adarkroom

[submodule "views/archive/g/trimps"]
	path = views/archive/g/trimps
	url = https://github.com/Trimps/Trimps.github.io

[submodule "views/archive/g/zork1"]
	path = views/archive/g/zork1
	url = https://github.com/jessicalevine/Adventure.js