<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{mask}}{{Google Docs}}</title>
    
    <link rel="stylesheet" href="{{route}}{{assets/css/common.css}}">
    <link rel="stylesheet" href="{{route}}{{assets/css/home.css}}">

    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <div id="header" class="fullwidth">
      </div>

    <div id="background" class="fullwidth"></div>

    <div id="mainbody" class="box-hero">
      <div id="documentation" class="hero-grid-container">
        <div class="box-hero">
          <div class="box-noflex">
            <h1 style="color:white; text-align:center;">{{mask}}{{Data Retrieval Nodes}}</h1>
            <p style="color:gray; text-align:center;">{{mask}}{{Select a secure academic database below to begin your research session.}}</p>
            <hr>
            </div>
        </div>
      </div>
    </div>

    <div id="footer" class="fullwidth">
      </div>

    {{inline}}{{
    <script src="{{route}}{{assets/js/card.js}}{{inline}}"></script>
    }}
  </body>
</html>
