<!DOCTYPE html>
<html lang=zxx>

<head>
	<base href="/">
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <title>H&#8203;oly Unb&#8203;loc&#8203;ke&#8203;r | Error</title>
    <meta name=description content="Get past internet cen&#8203;sorsh&#8203;ip today! Enjoy safer, private internet access bypa&#8203;ssi&#8203;ng filters such as Securly or iboss. Supports Di&#8203;sc&#8203;or&#8203;d and more! :D">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://arc.io">
    <link rel="dns-prefetch" href="https://arc.io">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <script src="assets/js/header.js"></script>
</head>

<body>
	<!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="text-center" style="margin:15%">
        <h1>Site Error!</h1>
        <p>Might be doing some maintenance or the web server is down.</p>
        <p>In that case wait a bit until it is resolved!</p><br>
        <p>Invalid URL? View the <a href=/?faq>FAQ page</a> for help!</p>
    </div>
    <div class="footer-dark ft-bg" style="margin-top:5%">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3><a href=/>Ho<wbr>ly Unb<wbr>loc<wbr>ker</a>
                        </h3>
                        <p>Made by Stud<wbr>ents, For Stu<wbr>dents.&nbsp;</p>
                        <p class="copyright">Holy U<wbr>nblo<wbr>cke<wbr>r © 2021</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href=/?a>All<wbr>oy</a></li>
                            <li><a href=/?p>PM P<wbr>ro<wbr>xy</a></li>
                            <li><a href=/?w>Wo<wbr>mg<wbr>inx</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href=/?z>Surf Freely</a></li>
                            <li><a href=/?c>G<wbr>itHub</a></li>
                            <li><a href=/?t>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>