<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#8203;oly Unb&#8203;loc&#8203;ke&#8203;r</title>
    <meta name="description" content="G&#8203;et p&#8203;ast in&#8203;te&#8203;r&#8203;net ce&#8203;n&#8203;s&#8203;or&#8203;sh&#8203;ip tod&#8203;a&#8203;y! Ch&#8203;oos&#8203;e be&#8203;twe&#8203;en a sel&#8203;ect&#8203;io&#8203;n of v&#8203;ari&#8203;ou&#8203;s pr&#8203;ox&#8203;ie&#8203;s with D&#8203;i&#8203;sco&#8203;rd su&#8203;ppor&#8203;t. F&#8203;eat&#8203;ure&#8203;s ma&#8203;in&#8203;ly Wo&#8203;m&#8203;gin&#8203;x, P&#8203;o&#8203;wer&#8203;m&#8203;ous&#8203;e and Al&#8203;lo&#8203;y Pr&#8203;ox&#8203;y.">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://arc.io">
    <link rel="dns-prefetch" href="https://arc.io">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <script defer="defer" src="assets/js/header.js"></script>

</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search" style="height: 100px;">
                <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                <div class="container"><a class="navbar-brand" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;font-size: 21px;margin: 10px;font-style: normal;font-weight: bold;" href="/">H&#173;o&#173;ly U&#173;n&#173;b&#173;lo&#173;c&#173;k&#173;er</a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">T&#173;ogg&#173;le nav&#173;igati&#173;on</span><span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?z" style="font-family: 'Montserrat Alternates', sans-serif;">W&#173;eb Pr&#173;ox&#173;ie&#173;s</a></li>
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?g" style="font-family: 'Montserrat Alternates', sans-serif;">G&#173;a&#173;me&#173;s</a></li>
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?y" style="font-family: 'Montserrat Alternates', sans-serif;">Yo&#173;uT&#173;u&#173;be</a></li>
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?d" style="font-family: 'Montserrat Alternates', sans-serif;">D&#173;isc&#173;or&#173;d</a></li>
                            <li class="nav-item" id="ch" data-bs-hover-animate="pulse"><a class="nav-link" href="/?n" style="font-family: 'Montserrat Alternates', sans-serif;">Ch&#173;a&#173;tbo&#173;x</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#" style="opacity: 0.80;color: #fff;font-family: 'Montserrat Alternates', sans-serif;">M&#173;or&#173;e
                                    <i class="ion-md-more" style="margin: 5px;"></i></a>
                                <div class="dropdown-menu ion-md-menu" role="menu" style="background-color: #151618;opacity: 0.95;font-family: 'Titillium Web', sans-serif;padding: 17%;padding-top: 10%;padding-bottom: 10%;">
                                    <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?in" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">D&#173;oc&#173;s</a>
                                    <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?faq" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">FA&#173;Q</a>
                                    <a id="menuitem" class="dropdown-item" role="presentation" href="/?c" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">Cre&#173;d&#173;its</a>
                                </div>
                            </li>
                            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                            <li class="nav-item dropdown">
                                <a class="nav-link" style="margin-left: 15px;font-family: 'Montserrat Alternates', sans-serif;font-size: 15px;" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#">Settings
                                    <i class="ion-md-barcode" style="margin: 5px;"></i>
                                </a>
                                <div id="csel" class="dropdown-menu" role="menu">
                                    <p class="csel-l" style="color: #d8dee9">T&#173;ab Cl&#173;oak</p>
                                    <p class="csel-p">Ch&#173;a&#173;nge t&#173;he Tit&#173;le.</p>
                                    <form id="titleform"><input class="bg-dark border rounded-0 border shadow-lg" type="text" placeholder="Tab Title"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                            type="submit" value="Ap&#173;ply"></form>
                                    <p class="csel-p" style="margin-top: 5px;">C&#173;han&#173;ge t&#173;he <a href="/?i">Ic&#173;on</a>.</p>
                                    <form id="iconform"><input class="bg-dark border rounded-0 border shadow-lg" type="url" placeholder="Icon URL"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                            type="submit" value="Ap&#173;ply"></form>
                                    <form id="toolsform" style="margin-top: 10px;"><a class="btn btn-dark btn-lg bg-dark border-dark rounded-1 border shadow-lg" data-bs-hover-animate="pulse" href="/?x" type="button" class="tb-btn">Book&#173;mar&#173;kl&#173;et&#173;s</a></form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <div id="particles-js" class="in-bg">
                <div class="d-flex justify-content-center" style="position:absolute; width:100%;">
                    <script src="particles.js"></script>
                    <script>
                        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                        particlesJS.load('particles-js', 'particles.json', function() {
                            console.log('particlesjs loaded.......');
                        });
                    </script>
                    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                    <div class="d-flex justify-content-center">
                        <div class="container text-center border rounded justify-content-center align-items-center button" style="background-color: #080808;opacity: 0.90;color: rgb(255,255,255);margin:0px;">
                            <form>
                                <p class="s-text-header" style="font-size: 46px;">Di<wbr>sc<wbr>ord Pr<wbr>oxy</p>
                                <p class="text-hb-light s-text-p2" style="font-family: Lato, sans-serif;">
                                    <br>If you wish for a pro&#8203;xy with better support for Disc&#8203;ord, be sure to join the <a id="tnlink">T&#8203;N Disco&#8203;rd</a> and check out our <a id="ptlink">Patreo&#8203;n!</a>
                                    <br>Each of the various <a id="ptlink">P&#8203;atre&#8203;on</a> tiers helps out significan&#8203;tly wi&#8203;th ser&#8203;ver expens&#8203;es and do&#8203;main rest&#8203;ocks.
                                    <br>Although you can continue supporting H&#8203;oly Unb&#8203;lo&#8203;ck&#8203;er for free with Ar&#8203;c (by simply using HU&#8203; more), do&#8203;nati&#8203;ng helps a lot more when upgradi&#8203;ng or maintain&#8203;ing
                                    its serv&#8203;ces.
                                    <br><br>Rough summary of possible benef&#8203;its ($2-10):
                                    <br>• Su&#8203;bscr&#8203;iber Lib&#8203;rary Ac&#8203;cess (Subscriber D&#8203;isc&#8203;ord Pro&#8203;x&#8203;y)
                                    <br>• Be&#8203;ta Mem&#8203;bersh&#8203;ip for H&#8203;U
                                    <br>• Feat&#8203;ure Requests
                                    <br>• Monthly shout-outs in announcements
                                    <br>• Personal&#8203;ized Domai&#8203;ns (Can requ&#8203;est for your own doma&#8203;in with H&#8203;U)
                                    <br>• Excl&#8203;usive rol&#8203;e (Su&#8203;pport&#8203;er and Sub&#8203;scri&#8203;ber)
                                    <br><br>The prem&#8203;ium Di&#8203;sco&#8203;rd p&#8203;r&#8203;ox&#8203;y is outside of these issues:
                                    <br>• Being prompted to ve&#8203;rify by ema&#8203;il or via pho&#8203;ne numb&#8203;er
                                    <br>• S&#8203;low mess&#8203;aging or in&#8203;valid invit&#8203;es
                                    <br>• Sites getting bl&#8203;ock&#8203;ed often
                                    <br>• And more!
                                </p>
                                <div style="margin: 2%;padding: 1px;">
                                    <a id="wndp" class="btn btn-group btn-lg text-hb hb-border-color glow-on-hover" role="button" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;" href="#">(Wom&#8203;ginx - Stea&#8203;lth)</a>
                                    <a id="wndpbp" class="btn btn-group btn-lg text-hb hb-border-color glow-on-hover" role="button" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;" href="#">(Wo&#8203;mginx - Clas&#8203;sic)</a>
                                    <a id="qdp" class="btn btn-group btn-lg text-hb hb-border-color glow-on-hover" role="button" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;" href="#">(Cor&#8203;ros&#8203;ion - Stea&#8203;lth)</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="footer-dark ft-bg">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3><a href="/">Ho<wbr>ly Unb<wbr>lo<wbr>c<wbr>ker</a></h3>
                        <p>Ma<wbr>de by St<wbr>ud<wbr>en<wbr>ts, Fo<wbr>r Stu<wbr>den<wbr>ts.&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Se<wbr>rvic<wbr>es</h3>
                        <ul>
                            <li><a id="allink">Al<wbr>loy</a></li>
                            <li><a id="plink">PM P<wbr>ro<wbr>xy</a></li>
                            <li><a id="nclink">No<wbr>d<wbr>eClu<wbr>st<wbr>e<wbr>rs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a id="hblink">G<wbr>itHub</a></li>
                            <li><a href="/?t">P<wbr>riva<wbr>cy and Te<wbr>rms of Ser<wbr>v<wbr>ice</a></li>
                            <li><a href="/?c">Cre<wbr>dit<wbr>s</a></li>
                        </ul>
                    </div>
                    <div class="col item social center ft-g">
                        <a id="hblink2">
                            <i class="ion-logo-github"></i>
                        </a>
                    </div>
                </div>
                <p class="copyright">H<wbr>ol<wbr>y U<wbr>nb<wbr>lo<wbr>cke<wbr>r © 20<wbr>21</p>
            </div>
        </footer>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <noscript>You must enable javascript in your browser to view this webpage.</noscript>
    <script src="expr/common.js"></script>
    <script src="assets/js/links.js"></script>
    <script src="expr/surf.js"></script>
    <script defer="defer" src="assets/js/jquery.min.js"></script>
    <script defer="defer" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>