<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS | Rammerhead Proxy}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="Shark your way through the landmines of network filtrs and the eyes of your ISP with Rammerhead!"
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="mainbody" class="fullwidth">
      <div class="ad" id="ad-left"></div>
      <div class="ad" id="ad-right"></div>
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box box-medium text-center textm">
        <h1 class="bigtitle">{{mask}}{{Rammerhead}}</h1>
        <p>
          {{mask}}{{Rammerhead is one of the most advanced free secure web
          proxies.}}
        </p>
        <p>
          {{mask}}{{ Its session-based proxying concept enables much support for
          webites like Discord, YouTube, and more! }}
        </p>
        <div id="pr-rh" class="pr-form">
          <div class="search-box">
            <input
              type="text"
              spellcheck="false"
              autocomplete="off"
              placeholder="Search or enter in a target site!"
            />
            <ul id="autocomplete"></ul>
          </div>
          <a href="#" class="pr-button glowbutton pr-go1"
            >{{mask}}{{Classic}}</a
          >
        </div>
        <p>
          {{mask}}{{ Important: Make sure you treat this as a PRIVATE session.
          Do NOT share Rammerhead links. }}
        </p>
        <h3>More Information:</h3>
        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
        <div class="font3">
          <p class="accented">
            {{mask}}{{ Works with YouTube, Discord, Spotify (spotty support) and
            much much more. }}
            <br />{{mask}}{{Rammerhead with its session support and improved
            speeds make it reliable as a web proxy choice.}}
          </p>
          <p class="accented">
            Common Errors with Solutions:
            <br />{{mask}}{{- Try using Classic mode or doing 'Reload Frame'.}}
            ("client.example.com" cannot be reached.) <br />{{mask}}{{- You
            cannot login normally into the majority of sites. Phone verification
            on a select number of sites may occur also with no real soluion.}}
          </p>
          <p>
            {{mask}}{{Discord:}}&nbsp;<a
              class="bluelink"
              href="{{route}}{{/rammerhead-discord}}"
              ><strong>{{mask}}{{https://discord.gg/VNT4E7gN5Y}}</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    {{inline}}{{
    <script src="{{route}}{{assets/js/card.js}}{{inline}}"></script>
    }}
  </body>
</html>
