<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Holy Unblocker LTS</title>
    <meta
      name="description"
      content="Shark your way through the landmines of network filtrs and the eyes of your ISP with Rammerhead!"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#434c5e"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="ad" id="ad-left"></div>
      <div class="ad" id="ad-right"></div>
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box box-medium text-center textm">
        <h1 class="bigtitle">Rammerhead</h1>
        <p>Rammerhead is one of the most advanced free secure web proxies.</p>
        <p>
          Its session-based proxying concept enables much support for webites
          like Discord, YouTube, and more!
        </p>
        <div id="pr-rh" class="pr-form">
          <input
            type="text"
            spellcheck="false"
            autocomplete="off"
            placeholder="Search or enter in a target site!"
          />
          <a href="#" class="pr-button glowbutton pr-go1">Cl&#173;assic</a>
        </div>
        <p>
          Important: Make sure you treat this as a PRIVATE session. Do NOT share
          Rammerhead links.
        </p>
        <h3>More Information:</h3>
        <div class="font3">
          <p class="accented">
            Works with YouTube, Discord, Spotify (spotty support) and much much
            more.
            <br />Rameerhead with its session support and improved speeds make
            it reliable as a web proxy choice.
          </p>
          <p class="accented">
            Common Errors with Solutions:
            <br />- Try using Classic mode or doing 'Reload Frame'.
            ("client.example.com" cannot be reached.) <br />- You cannot login
            normally into the majority of sites. Phone verification on a select
            number of sites may occur also with no real soluion.
          </p>
          <p>
            Discord:&nbsp;<a class="bluelink" id="rhlink"
              ><strong>https://discord.gg/VNT4E7gN5Y</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
  </body>
</html>
