<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Ho&#173;ly Unbl&#173;ocke&#173;r LT&#173;S</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="background-animated" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="ad" id="ad-left"></div>
      <div class="ad" id="ad-right"></div>
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box box-medium text-center textm">
        <h1 class="bigtitle">Ra&#173;mm&#173;erhe&#173;ad</h1>
        <p>Ram&#173;mer&#173;hea&#173;d is one of the m&#173;ost adva&#173;nce&#173;d fr&#173;ee s&#173;ecure web p&#173;rox&#173;ies.</p>
        <p>
          Its sess&#173;ion-based pr&#173;ox&#173;ying con&#173;cept en&#173;ables much supp&#173;ort for webs&#173;ites
          like D&#173;iscord, YouTu&#173;be, and m&#173;ore!
        </p>
        <div id="pr-rh" class="pr-form">
          <input
            type="text"
            spellcheck="false"
            autocomplete="off"
            placeholder="Sea&#173;rch or enter in a ta&#173;rget site!"
          />
          <a href="#" class="pr-button glowbutton pr-go1">Cl&#173;assic</a>
        </div>
        <p>
          Important: Make sure you treat this as a PRI&#173;VA&#173;TE session. Do N&#173;OT share
          Ram&#173;mer&#173;head links.
        </p>
        <h3>More Info&#173;rmation:</h3>
        <div class="font3">
          <p class="accented">
            Works with You&#173;Tube, Di&#173;sc&#173;ord, Spoti&#173;fy (spot&#173;ty support) and muc&#173;h much
            more.
            <br />R&#173;amme&#173;rhe&#173;ad with its sess&#173;ion support and impro&#173;ved speeds make
            it reliable as a w&#173;eb pro&#173;xy choice.
          </p>
          <p class="accented">
            Common Errors with Solutions:
            <br />- Try using Cl&#173;assic mode or doing 'Reload Frame'.
            ("client.exa&#173;mple.com" cannot be reached.) <br />- You cannot login
            norm&#173;ally into the major&#173;ity of sites. Ph&#173;one verifi&#173;cation on a select
            number of sit&#173;es may occur also with no rea&#173;l soluion.
          </p>
          <p>
            Disc&#173;ord:&nbsp;<a class="bluelink" id="rhlink"
              ><strong>https://di&#173;sco&#173;rd.gg/VNT4E7&#173;gN5Y</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script defer="defer" src="assets/js/background/main.js"></script>
  </body>
</html>
