<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{mask}}{{Google Docs}}</title>
    
    <link rel="stylesheet" href="{{route}}{{assets/css/styles-1755147161.css}}">

    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common-1735118314.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <div id="header" class="fullwidth">
      </div>

    <div id="background" class="fullwidth"></div>

    <div id="mainbody" class="fullwidth">
      <div class="home-grid-container">
        <div class="home-text">
          <h1><span>{{mask}}{{Academic Research Database}}</span></h1>
          <a class="homebutton" href="{{route}}{{/browsing}}">{{mask}}{{Log In}}</a>
        </div>

        <div class="mac-window">
          <div class="mac-title-bar"><div class="mac-buttons"><span></span><span></span><span></span></div></div>
          <div class="mac-content">
            <p>
              <span class="cmd">import numpy as np</span><br />
              <span class="comment">Status: Secure Connection Verified</span><br />
              <span class="comment">Database Version: 6.9.4</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="fullwidth">
      </div>
    {{inline}}{{
    <script src="{{route}}{{assets/js/card.js}}{{inline}}"></script>
    }}
  </body>
</html>
