<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Ho&#173;ly Unbl&#173;ock&#173;er</title>
    <link rel="icon" href="assets/ico/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="/baremux/index.js" defer></script>
    <script src="/network/network.bundle.js" defer></script>
    <script src="/network/network.config.js" defer></script>
    <link rel="prefetch" href="/worker/w.worker.js" />
    <link rel="prefetch" href="/worker/w.shared.js" />
    <script src="/assets/js/register-sw.js" defer></script>
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="ad" id="ad-left"></div>
      <div class="ad" id="ad-right"></div>
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box box-medium text-center textm">
        <h1 class="bigtitle">Scram&#173;jet (Be&#173;ta)</h1>
        <p>
          Scra&#173;mjet is an experi&#173;mental inte&#173;rcept&#173;ion based w&#173;eb pr&#173;oxy that ai&#173;ms to
          b&#173;e the succ&#173;essor to Ultr&#173;aviole&#173;t.<br>
        </p>
        <div id="pr-sj" class="pr-form">
          <input
            type="text"
            spellcheck="false"
            autocomplete="off"
            placeholder="Search or enter in a target site!"
          />
          <a href="#" style="display: none" class="pr-button glowbutton pr-go1"
            >Stea&#173;lth</a
          >
          <a href="#" class="pr-button glowbutton pr-go2">Stea&#173;lth</a>
        </div>
        <h3>
          N<wbr />etwo<wbr />rk fi<wbr />x i<wbr />f erro<wbr />rs occ<wbr />urs
          or bla<wbr />nk pa<wbr />ge:
        </h3>
        <button id="reload" class="homebutton glowbutton">
          Ref<wbr />re<wbr />sh
        </button>
        <br /><br />
        <h3>Mo&#173;re Informat&#173;ion:</h3>
        <div class="font3">
          <p class="accented">
            Scr&#173;amjet w&#173;orks with almo&#173;st all s&#173;ites includ&#173;ing Goo&#173;gle, Yo&#173;utube, Sp&#173;otify, Disc&#173;ord,
            Redd&#173;it, GeF&#173;orce NO&#173;W, and no&#173;w.g&#173;g!
            <br><br />Scra&#173;mjet is highly recomme&#173;nded due
            to sec&#173;urity, de&#173;velo&#173;per friend&#173;liness, and pe&#173;rform&#173;ance along en&#173;hanced
            supp&#173;ort for almost eve&#173;ry s&#173;ite maki&#173;ng it on&#173;e of the most adv&#173;an&#173;ced w&#173;eb
            pr&#173;oxi&#173;es. <br />
          </p>
          <p class="accented">
            Common Errors with Solutions:
            <br />- Havi&#173;ng issues with CA&#173;PTC&#173;HAs? It will take tri&#173;al and er&#173;ror
            but try to go slow when it comes to solvi&#173;ng them. C&#173;APTCH&#173;A is a given
            but will take a few at&#173;tempts.<br />- You may not be able to login
            norma&#173;lly into a number of sites. Phon&#173;e ver&#173;ifica&#173;tion on a select
            numb&#173;er of sites may oc&#173;cur also with n&#173;o real solu&#173;tion.
          </p>
          <p>
            Git&#173;Hub:&nbsp;<a class="bluelink" id="sjlink"
              ><strong>htt&#173;ps://gith&#173;ub.com/Mer&#173;curyWorks&#173;hop/sc&#173;ram&#173;je&#173;t</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="/worker/w.controller.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="{{src}}"></script>
    <script defer="defer" src="assets/js/background/main.js"></script>
  </body>
</html>
