<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS | Scramjet Proxy}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="The new highly innovative proxy of Titanium Network using technologies such as service workers and sophisticated rewriting techniques with CAPTCHA support. Scramjet focuses on speed with YouTube, now.gg, Spotify, CoolMathGames and various .io sites!"
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="{{route}}{{/scram/scramjet.all.js}}" defer data-module></script>
    <script src="{{route}}{{/baremux/index.js}}" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{/assets/js/register-sw.js}}{{inline}}" defer></script>
    }}
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    <script src="https://unpkg.com/@popperjs/core@2" defer data-module></script>
    <script src="https://unpkg.com/tippy.js@6" defer></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div data-aos="fade-right" class="hero-grid-container">
      <div class="box-hero">
        <div class="hero-content">
          <div class="proxy-header text-center">
            <img
              class="pr-logo"
              src="{{route}}{{/assets/img/scramjet.webp}}"
              alt="{{mask}}{{Scramjet Web Proxy}}"
            />
            <p>
              <a href="{{route}}{{/github/scramjet}}"
                ><strong>{{mask}}{{Scramjet}}</strong></a
              >
              {{mask}}{{is a web proxy designed with performance and security in
              mind to evade internet censorship,}}<br />{{mask}}{{bypass
              arbitrary web browser restrictions and innovate web proxy
              technologies.}}<br /><br />
              {{mask}}{{This allows you to browse various websites with higher
              level of privacy}}<br />
              {{mask}}{{and access popular resources like Discord, GeForce NOW,
              Twitter and YouTube on restricted networks.}}<br /><br />{{mask}}{{For
              CAPTCHA challenges please solve them slowly. SJ is so fast you
              might get stuck in a loop. Enable Tor routing if you are struggling to login to services or view}}<br />
              View the <a href="{{route}}{{/questions}}">FAQ</a> {{mask}}{{page
              if you have any issues with the proxy.}}
            </p>
          </div>
          <div class="proxy-form text-center">
            <div id="pr-sj" class="pr-form">
              <select class="pr-button glowbutton search-engine-list">
                <option>{{DuckDuckGo}}</option>
                <option>{{Brave}}</option>
                <option>{{Startpage}}</option>
                <option>{{Google}}</option>
                <option>{{Bing}}</option>
              </select>

              <div class="search-box">
                <input
                  type="text"
                  spellcheck="false"
                  autocomplete="off"
                  placeholder="Type a URL here or enter a search query!"
                  id="search-input"
                />
                <ul id="autocomplete"></ul>
              </div>

              <a href="#" class="pr-button glowbutton pr-go2" id="search-btn"
                >SEARCH</a
              >
            </div>
            <!--PROXNAV-SETTINGS-->
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    {{inline}}{{
    <script src="{{route}}{{assets/js/card.js}}{{inline}}"></script>
    }}
  </body>
</html>
