<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS | Ultraviolet Proxy}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="The new highly innovative proxy of Titanium Network using technologies such as service workers and sophisticated rewriting techniques with CAPTCHA support. Ultraviolet focuses on speed with YouTube, now.gg, Spotify, CoolMathGames and various .io sites!"
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="{{route}}{{/baremux/index.js}}" defer data-module></script>
    <script src="{{route}}{{/uv/uv.bundle.js}}" defer data-module></script>
    <script src="{{route}}{{/uv/uv.config.js}}" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{/assets/js/register-sw.js}}{{inline}}" defer></script>
    }}
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    <script src="https://unpkg.com/@popperjs/core@2" defer data-module></script>
    <script src="https://unpkg.com/tippy.js@6" defer></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div data-aos="fade-right" class="hero-grid-container">
      <div class="box-hero">
        <div class="hero-content">
          <div class="proxy-header text-center">
            <img
              class="pr-logo"
              src="{{route}}{{/assets/img/uv.webp}}"
              alt="Ultraviolet Web Proxy"
            />
            <p>
              <a href="{{route}}{{/github/ultraviolet}}"
                ><strong>{{mask}}{{Ultraviolet}}</strong></a
              >
              {{mask}}{{is a proxy of Titanium Network using technologies such
              as service workers and with CAPTCHA support.}}<br />{{mask}}{{This
              is the most recent legacy project of Titanium Network. You can use
              this as a fallback in case Scramjet does not have support for your
              site.}} <br /><br />{{mask}}{{If you have any issues with
              Ultraviolet, please report them on the}}
              <a href="{{route}}{{/github/ultraviolet}}"
                >{{mask}}{{Ultraviolet GitHub repository}}</a
              >.<br /><br />{{mask}}{{Enable Tor
              routing if you are struggling to login to services or view
              sites.}}<br /><br />View the
              <a href="{{route}}{{/questions}}">FAQ</a> {{mask}}{{page if you
              have any issues with the proxy.}}
            </p>
          </div>
          <div class="proxy-form text-center">
            <div id="pr-uv" class="pr-form">
              <select class="pr-button glowbutton search-engine-list">
                <option>{{DuckDuckGo}}</option>
                <option>{{Google}}</option>
                <option>{{Bing}}</option>
                <option>{{Brave}}</option>
                <option>{{Startpage}}</option>
              </select>

              <div class="search-box">
                <input
                  type="text"
                  spellcheck="false"
                  autocomplete="off"
                  placeholder="Type a URL here or enter a search query!"
                  id="search-input"
                />
                <ul id="autocomplete"></ul>
              </div>

              <a href="#" class="pr-button glowbutton pr-go2" id="search-btn"
                >SEARCH</a
              >
            </div>
            <!--PROXNAV-SETTINGS-->
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    {{inline}}{{
    <script src="{{route}}{{assets/js/card.js}}{{inline}}"></script>
    }}
  </body>
</html>
