<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Hol&#173;y U&#173;nb&#173;lo&#173;cker | Ul&#173;travi&#173;olet</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="/baremux/index.js" defer></script>
    <script src="/network/network.bundle.js" defer></script>
    <script src="/network/network.config.js" defer></script>
    <script src="/assets/js/register-sw.js" defer></script>
    <script src="
    https://cdn.jsdelivr.net/npm/tsparticles@3.5/tsparticles.bundle.min.js
    "></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="background-animated" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
      <div class="ad" id="ad-left"></div>
      <div class="ad" id="ad-right"></div>
      <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
      <div class="box box-medium text-center textm">
        <h1 class="bigtitle">Ultr&#173;aviol&#173;et (Be&#173;ta)</h1>
        <p>
          T&#173;he hi&#173;ghly innov&#173;ative p&#173;rox&#173;y of Titan&#173;ium Net&#173;work using technologies
          such as ser&#173;vice wo&#173;rkers and sophistic&#173;ated rewri&#173;ting techniqu&#173;es with
          CAPT&#173;CHA suppo&#173;rt.
        </p>
        <div id="pr-runprod" class="pr-form">
          <input
            type="text"
            spellcheck="false"
            autocomplete="off"
            placeholder="Sea&#173;rch or enter in a targ&#173;et si&#173;te!"
          />
          <a href="#" style="display: none" class="pr-button glowbutton pr-go1"
            >Stea&#173;lth</a
          >
          <a href="#" class="pr-button glowbutton pr-go2">Stea&#173;lth</a>
        </div>
        <h3>N<wbr>etwo<wbr>rk fi<wbr>x i<wbr>f erro<wbr>rs occ<wbr>urs or bla<wbr>nk pa<wbr>ge:</h3>
        <button id="reload" class="homebutton glowbutton">Ref<wbr>re<wbr>sh</button>
        <br><br>
        <h3>Mo&#173;re Inform&#173;ation:</h3>
        <div class="font3">
          <p class="accented">
            Focu&#173;sing on speed U&#173;V works with YouT&#173;ube, n&#173;ow.g&#173;g, Sp&#173;otify,
            Cool&#173;Ma&#173;thGames and var&#173;ious .i&#173;o s&#173;ites!
            <br />CAPT&#173;CHA is suppor&#173;ted! <br />Ultra&#173;violet is hi&#173;ghly recomm&#173;ended
            due to its sp&#173;eed and enha&#173;nced supp&#173;ort for almost every site making
            it one of the most advan&#173;ed web pro&#173;xi&#173;es. <br />Sit&#173;es with given
            support for loggin&#173;g in are Twit&#173;ter, Spoti&#173;fy, Red&#173;dit, and Dis&#173;cord.
            Yo&#173;uTube a&#173;llows for nearly full func&#173;tional&#173;ity. <br />D&#173;iscord supp&#173;ort
            on Rammer&#173;head is a KNO&#173;WN bug. It is bei&#173;ng w&#173;orked on.
          </p>
          <p class="accented">
            Co&#173;mmon Er&#173;rors with Solut&#173;ions:
            <br />- Having issues with CAP&#173;TCHAs? It will take trial and e&#173;rror
            but try to go slow when it comes to solving them. CAPT&#173;CHA is a giv&#173;en
            but will take a few attempts. <br />- Try using Class&#173;ic mode or
            doing 'Relo&#173;ad F&#173;rame'. ("cdn.examp&#173;le.com" canno&#173;t be reached.) <br />-
            You may not be able to login normally into a number of sites. Ph&#173;one
            verif&#173;ication on a select number of sites may oc&#173;cur also w&#173;ith no real
            soluion.
          </p>
          <p>
            Gi&#173;tHub:&nbsp;<a class="bluelink" id="tnlink"
              ><strong>htt&#173;ps://git&#173;hub.com/titaniu&#173;m&#173;netw&#173;ork-d&#173;ev</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="{{src}}"></script>
    <script defer="defer" src="assets/js/background/main.js"></script>
  </body>
</html>
