<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>H&#8203;oly Unb&#8203;loc&#8203;ke&#8203;r | Error</title>
    <meta
      name="description"
      content="Get past internet cen&#8203;sorsh&#8203;ip today! Enjoy safer, private internet access bypa&#8203;ssi&#8203;ng filters such as Securly or iboss. Supports Di&#8203;sc&#8203;or&#8203;d and more! :D"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/i.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://arc.io" />
    <link rel="dns-prefetch" href="https://arc.io" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat+Alternates"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script async src="https://arc.io/widget.min.js#2BzvQ1em"></script>
  </head>
  <body>
    <span style="display: none" data-cooking="cooks"
      >Boost your confidence in the kitchen with our trusted tips, tricks and
      expert advice to master the basics and build upon your existing cooking
      skills and knowledge.</span
    >
    <div class="text-center" style="margin: 10%">
      <h1>Site Error</h1>
      <h4>
        Failed to load <b id="fetchedURL"></b>
      </h4>
      <h5 style="padding: 1%">Possible Solutions:</h5>
      <p>
        If you are u<wbr />sing Stea<wbr />lth mode try doing "Rel<wbr />oad Fram<wbr />e" with the button below or right-clicking the page or simply re<wbr />load the page
        a few times (Around five times at the max, takes a bit sometimes).
      </p>
      <p>
        In the case of ma<wbr />intenan<wbr />ce, please wait for the issue to
        be resolved. If the issue persists be sure to mention this in the Ti<wbr />ta<wbr />nium
        Net<wbr />work Dis<wbr />cor<wbr />d.
      </p>
      <p>
        Be su<wbr />re to View the F<wbr />AQ page also if you have any
        quest<wbr />ions. Holy Unb<wbr />lock<wbr />er updates often so it is
        most likely a temporary issue.
      </p>
      <br />
      <h5>
        More Details:
        <p>
          <textarea id="errorTrace" cols="40" rows="10" readonly></textarea>
        </p>
      </h5>
      <button id="reload">Reload</button>
      <p>
        <i>Ultraviolet v<span id="uvVersion"></span></i>
      </p>
      <script src="{{src}}"></script>
    </div>
    <div class="footer-dark ft-bg" style="margin-top: 5%">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6 item text">
              <h3>
                <a href="#">Ho<wbr />ly Unb<wbr />loc<wbr />ker</a>
              </h3>
              <p>Global Web Proxy Innovation, Done Right.&nbsp;</p>
              <p class="copyright">
                Holy U<wbr />nblo<wbr />cke<wbr />r LTS © 2020-2024
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
