<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Ho&#173;ly Unbloc&#173;ker</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="/baremux/index.js" defer></script>
    <script src="/network/network.bundle.js" defer></script>
    <script src="/network/network.config.js" defer></script>
    <script src="/assets/js/register-sw.js" defer></script>
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <iframe id="frame" allow="fullscreen" autofocus></iframe>
    <script>
      document.getElementById('frame').src = localStorage.getItem('huframesrc');
    </script>
    <script src="assets/js/csel.js"></script>
  </body>
</html>
