<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Important: Use &#173; to mess with keywords.  -->
    <title>Hol&#173;y Unb&#173;locker</title>
    <meta name="description" content="Get past internet censorship today! Choose between the various proxies in order to unblock the site you would like to access. Features proxies such as Womginx, Alloy and Via Unblocker.">
    <meta name="googlebot" content="index, follow, snippet" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <!-- Assets  -->
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <script src="assets/js/header.js"></script>
    <!--<script src="assets/js/im-runtime.js"></script>-->
</head>

<body>
	<!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <iframe id="frame" allow="fullscreen" autofocus></iframe>
	<script>
		document.getElementById("frame").src = localStorage.getItem("huframesrc");
	</script>
</body>

</html>