<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="{{route}}{{/scram/scramjet.all.js}}" defer data-module></script>
    <script src="{{route}}{{/baremux/index.js}}" defer data-module></script>
    <script src="{{route}}{{/uv/uv.bundle.js}}" defer data-module></script>
    <script src="{{route}}{{/uv/uv.config.js}}" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{/assets/js/register-sw.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div class="loader loader-active">
      <div class="loader-w"></div>
    </div>
    <div class="omnibar" id="pr-sj">
      <a class="logo" href="{{route}}{{/browsing}}" role="img" aria-label="Holy Unblocker Logo"></a>
      <button title="Back"><i class="fas fa-arrow-left"></i></button>
      <button title="Forward"><i class="fas fa-arrow-right"></i></button>
      <button title="Refresh"><i class="fas fa-redo-alt"></i></button>
      <div class="search-box">
        <input
          class="glowbutton"
          id="search-input"
          type="text"
          placeholder="Type a URL or search..."
          spellcheck="false"
          autocomplete="off"
        />
        <ul id="autocomplete"></ul>
      </div>
      <!-- 
      <button title="Bookmarks" id="bookmarks-toggle">
        <i class="fas fa-bookmark"></i>
      </button>
      -->
      <div title="Settings" class="dropdown-parent">
        <a href="#" tabindex="0">
          <i class="fas fa-cog pulse" aria-hidden="true"></i>
        </a>
        <div
          class="dropdown-settings"
          tabindex="0"
          role="menu"
          aria-label="Settings menu"
        >
          <div id="csel">
            <!--SETTINGS-->
          </div>
        </div>
      </div>
      <button id="omnibar-toggle" title="Hide Bar">
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <iframe id="frame" allow="fullscreen" autofocus></iframe>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script>
      const windowFrame = document.getElementById('frame');
      const omnibar = document.getElementById('pr-sj');
      const toggle = document.getElementById('omnibar-toggle');
      const backArrow = omnibar.querySelector("[title='Back' i]");
      const forwardArrow = omnibar.querySelector("[title='Forward' i]");
      const reloadArrow = omnibar.querySelector("[title='Refresh' i]");
      let hidden = false;

      toggle.addEventListener('click', () => {
        hidden = !hidden;
        omnibar.classList.toggle('omnibar-hidden', hidden);
        toggle.classList.toggle('omnibar-s', hidden);
        toggle.innerHTML = `<i class="fas fa-chevron-${hidden ? 'down' : 'up'}"></i>`;
        (hidden ? document.body : omnibar).appendChild(toggle);
        toggle.title = hidden ? 'Show Bar' : 'Hide Bar';
      });

      backArrow.addEventListener('click', () => {
        history.back();
      });
      forwardArrow.addEventListener('click', () => {
        history.forward();
      });
      reloadArrow.addEventListener('click', () => {
        windowFrame.contentWindow.location.reload();
      });

      let statusObject = { isLoading: true, timesErrored: 0 };

      const loaderTimeout = (timeout) => {
        statusObject.isLoading = true;
        setTimeout(() => {
          if (statusObject.isLoading)
            loader.classList.toggle('loader-active', false);
        }, timeout);
      };

      const errorRefresh = () => {
        const shouldRefresh =
          statusObject.timesErrored <= 5 &&
          windowFrame.contentWindow.document.head.querySelector(
            "meta[itemprop='http-status'][content='404']"
          );
        if (shouldRefresh) {
          statusObject.timesErrored++;
          windowFrame.contentWindow.location.reload();
        } else statusObject.timesErrored = 0;
        return shouldRefresh;
      };

      const loader = document.getElementsByClassName('loader')[0];
      const updateLoader = () => {
        if (windowFrame.contentWindow.location.href === 'about:blank') return;

        statusObject.isLoading =
          windowFrame.contentWindow.document.readyState === 'loading';

        // Do not remove the loading screen if the page is an error page
        // and should be reloaded.
        if (!statusObject.isLoading && errorRefresh()) {
          statusObject.isLoading = true;
          return;
        }

        // Display the loading screen if statusObject.isLoading is true.
        loader.classList.toggle('loader-active', statusObject.isLoading);

        // Remove the loading screen if it takes longer than 5 seconds.
        if (statusObject.isLoading) loaderTimeout(5000);
      };

      // Reattach load events whenever the content window has changed.
      const loadHandler = () => {
        setTimeout(() => {
          windowFrame.contentWindow.addEventListener('beforeunload', () => {
            loader.classList.toggle('loader-active', true);
            loaderTimeout(3000);
          });
          windowFrame.contentWindow.addEventListener('unload', loadHandler);
          windowFrame.contentWindow.addEventListener(
            'readystatechange',
            updateLoader
          );
          updateLoader();
        });
      };

      windowFrame.addEventListener('load', updateLoader);
      loadHandler();
    </script>
  </body>
</html>
