<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Web Pr&#173;oxi&#173;es</title>
    <meta name="description" content="Ge&#173;t pa&#173;st int&#173;er&#173;net censo&#173;rsh&#173;ip today! Cho&#173;ose b&#173;etween the variou&#173;s pro&#173;xie&#173;s in order to unb&#173;lo&#173;ck the sit&#173;e you wo&#173;uld l&#173;ike to ac&#173;ces&#173;s. Features pr&#173;oxi&#173;s such as Wo&#173;mgi&#173;nx, A&#173;ll&#173;oy and V&#173;ia Unbl&#173;oc&#173;ke&#173;r.">
    <meta name="googlebot" content="index, follow, snippet" />
    <meta name="keywords" content="proxy, web proxy, unblock websites, unblock chromebook, free web proxy, proxy list, proxy sites, un block chromebook, online proxy, proxy server, proxysite, proxy youtube, bypass securly, bypass iboss, bypass lightspeed filter, holy unblocker, chromebooks, titanium network, unblock youtube, youtube proxy, unblocked youtube, youtube unblocked">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://arc.io">
    <link rel="dns-prefetch" href="https://arc.io">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <script defer="defer" src="assets/js/header.js"></script>

</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search" style="height: 100px;">
                <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                <div class="container"><a class="navbar-brand" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;font-size: 21px;margin: 10px;font-style: normal;font-weight: bold;" href="/">H&#173;o&#173;ly U&#173;n&#173;b&#173;lo&#173;c&#173;k&#173;er</a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">T&#173;ogg&#173;le nav&#173;igati&#173;on</span><span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?z" style="font-family: 'Montserrat Alternates', sans-serif;">W&#173;eb Pr&#173;ox&#173;ie&#173;s</a></li>
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?g" style="font-family: 'Montserrat Alternates', sans-serif;">G&#173;a&#173;me&#173;s</a></li>
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?y" style="font-family: 'Montserrat Alternates', sans-serif;">Yo&#173;uT&#173;u&#173;be</a></li>
                            <li class="nav-item" data-bs-hover-animate="pulse"><a class="nav-link" href="/?d" style="font-family: 'Montserrat Alternates', sans-serif;">D&#173;isc&#173;or&#173;d</a></li>
                            <li class="nav-item" id="ch" data-bs-hover-animate="pulse"><a class="nav-link" href="/?n" style="font-family: 'Montserrat Alternates', sans-serif;">Ch&#173;a&#173;tbo&#173;x</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#" style="opacity: 0.80;color: #fff;font-family: 'Montserrat Alternates', sans-serif;">M&#173;or&#173;e
                                    <i class="ion-md-more" style="margin: 5px;"></i></a>
                                <div class="dropdown-menu ion-md-menu" role="menu" style="background-color: #151618;opacity: 0.95;font-family: 'Titillium Web', sans-serif;padding: 17%;padding-top: 10%;padding-bottom: 10%;">
                                    <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?in" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">D&#173;oc&#173;s</a>
                                    <a id="menuitem" class="dropdown-item text-left" role="presentation" href="/?faq" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">FA&#173;Q</a>
                                    <a id="menuitem" class="dropdown-item" role="presentation" href="/?c" style="color: #d8dee9;opacity: 0.80;padding: 0%;font-family: Lato, sans-serif;">Cre&#173;d&#173;its</a>
                                </div>
                            </li>
                            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                            <li class="nav-item dropdown">
                                <a class="nav-link" style="margin-left: 15px;font-family: 'Montserrat Alternates', sans-serif;font-size: 15px;" data-bs-hover-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#">Settings
                                    <i class="ion-md-barcode" style="margin: 5px;"></i>
                                </a>
                                <div id="csel" class="dropdown-menu" role="menu">
                                    <p class="csel-l" style="color: #d8dee9">T&#173;ab Cl&#173;oak</p>
                                    <p class="csel-p">Ch&#173;a&#173;nge t&#173;he Tit&#173;le.</p>
                                    <form id="titleform"><input class="bg-dark border rounded-0 border shadow-lg" type="text" placeholder="Tab Title"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                            type="submit" value="Ap&#173;ply"></form>
                                    <p class="csel-p" style="margin-top: 5px;">C&#173;han&#173;ge t&#173;he <a href="/?i">Ic&#173;on</a>.</p>
                                    <form id="iconform"><input class="bg-dark border rounded-0 border shadow-lg" type="url" placeholder="Icon URL"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                            type="submit" value="Ap&#173;ply"></form>
                                    <form id="toolsform" style="margin-top: 10px;"><a class="btn btn-dark btn-lg bg-dark border-dark rounded-1 border shadow-lg" data-bs-hover-animate="pulse" href="/?x" type="button" class="tb-btn">Book&#173;mar&#173;kl&#173;et&#173;s</a></form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <div id="particles-js" class="in-bg">
                <div class="d-flex justify-content-center" style="position:absolute; width:100%;">
                    <script src="particles.js"></script>
                    <script>
                        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                        particlesJS.load('particles-js', 'particles.json', function() {
                            console.log('particlesjs loaded.......');
                        });
                    </script>
                    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="container text-center border rounded align-items-center" style="background-color: #080808;opacity: 0.90;color: rgb(255,255,255);">
                            <form id="unblocker-form" action="b" method="get">
                                <p class="s-text-header" style="font-size: 46px;">W<wbr>eb P<wbr>ro<wbr>xi<wbr>es</p>
                                <p class="s-text-p1" style="font-family: 'Montserrat Alternates', sans-serif;">Choo&#173;se which pr<wbr>ox&#173;y you would like to use.<br>St&#173;ea&#173;lth mod&#173;e h&#173;ides y&#173;our bro&#173;ws&#173;er histor&#173;y whi&#173;le Cla&#173;ssic mo&#173;de is th&#173;e sta&#173;nda&#173;rd
                                    f&#173;orm of na&#173;viga&#173;tion.</p>
                                <div style="margin: 2%;padding: 5px;">
                                    <!-- 
                                        <a class="btn btn-group text-hb hb-button glow-on-hover" role="button" data-bs-hover-animate="pulse" href="/?p">Sy<wbr>sY<wbr>A</a>
                                        <a class="btn btn-group text-hb hb-button glow-on-hover" role="button" data-bs-hover-animate="pulse" href="/?o">V<wbr>ia</a> 
                                    -->
                                    <a class="btn btn-group text-hb hb-button glow-on-hover" role="button" style="padding: 10px;" data-bs-hover-animate="pulse" href="/?q">Co<wbr>rro<wbr>si<wbr>on</a>
                                    <a class="btn btn-group text-hb hb-button glow-on-hover" role="button" style="padding: 10px;" data-bs-hover-animate="pulse" href="/?w">W<wbr>om<wbr>gi<wbr>nx</a>
                                </div>
                                <p class="text-white" style="font-size: 16px;font-family: Lato, sans-serif;">More Information:<br></p>
                                <p class="text-hb-light s-text-p2" style="font-family: Lato, sans-serif;">Cor&#8203;rosion: Of&#8203;fici&#8203;al pro&#8203;xy o&#8203;f Ti&#8203;tan&#8203;ium Ne&#8203;two&#8203;rk wi&#8203;th en&#8203;hanc&#8203;ed suppo&#8203;rt for a lar&#8203;ge major&#8203;ity o&#8203;f si&#8203;tes and
                                    Y&#8203;ouTub&#8203;e.
                                    <br>Wo<wbr>mgi&#173;<wbr>nx: Useful for sites which use reC<wbr>APTC<wbr>HA or hCaptcha. Also faster.

                                    <!--
                                        <br>S<wbr>ysY<wbr>A: Sup<wbr>port<wbr>ive for mo<wbr>st si<wbr>tes whi<wbr>le ens&#173;uri<wbr>ng priva<wbr>cy.
                                        <br>Vi<wbr>a: Fa<wbr>st pro<wbr>xy which suppo<wbr>rts many ga<wbr>me si<wbr>tes and g<wbr>rea<wbr>t for do<wbr>wn<wbr>loa<wbr>ds.
                                    -->
                                </p>
                                <p class="text-white s-text-p2">If you get any errors please check the FAQ page!
                                    <br>Join the T<wbr>N disc<wbr>or&#173;d for upd&#173;ated H<wbr>ol<wbr>y Un<wbr>blo<wbr>cke<wbr>r sit<wbr>e li<wbr>nks and b<wbr>et<wbr>ter ser<wbr>vic<wbr>es.
                                </p>
                                <a class="text-hb s-text-p2" id="tnlink">h<wbr>ttp<wbr>s://di<wbr>scor<wbr>d.g<wbr>g/unb<wbr>lo<wbr>ck
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="footer-dark ft-bg">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3><a href="/">Ho<wbr>ly Unb<wbr>lo<wbr>c<wbr>ker</a></h3>
                                <p>Ma<wbr>de by St<wbr>ud<wbr>en<wbr>ts, Fo<wbr>r Stu<wbr>den<wbr>ts.&nbsp;</p>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Se<wbr>rvic<wbr>es</h3>
                            <ul>
                                <li><a id="allink">Al<wbr>loy</a></li>
                                <li><a id="plink">PM P<wbr>ro<wbr>xy</a></li>
                                <li><a id="nclink">No<wbr>d<wbr>eClu<wbr>st<wbr>e<wbr>rs</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a id="hblink">G<wbr>itHub</a></li>
                                <li><a href="/?t">P<wbr>riva<wbr>cy and Te<wbr>rms of Ser<wbr>v<wbr>ice</a></li>
                                <li><a href="/?c">Cre<wbr>dit<wbr>s</a></li>
                            </ul>
                        </div>
                        <div class="col item social center ft-g">
                            <a id="hblink2">
                                <i class="ion-logo-github"></i>
                            </a>
                        </div>
                    </div>
                    <p class="copyright">H<wbr>ol<wbr>y U<wbr>nb<wbr>lo<wbr>cke<wbr>r © 20<wbr>21</p>
                </div>
                </footer>
            </div>
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <script src="expr/common.js"></script>
            <script src="assets/js/links.js"></script>
            <script src="expr/surf.js"></script>
            <script defer="defer" src="assets/js/jquery.min.js"></script>
            <script defer="defer" src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/bs-init.js"></script>
</body>

</html>