canvas {

  /* for iOS devices */
  -webkit-tap-highlight-color: transparent;
}

html, body {
  background: url(../images/title_bg.png) 50% 0 no-repeat,
  url(../images/bg_repeat.png) 50% 0 repeat-y #889ba7;
  margin: 0;
  color: #111;
}

#game{
  position:relative;
}

#page {
  width: 820px;
  min-height: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 5px rgba(60,60,60,.6);
}

header {
  height: 88px;
  padding-top: 36px;
  margin-bottom: 50px;
  font-family: "Rock Salt", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(200,200,200,.5);
  color: #121;
}

/* Layers */
#layers {
  position: relative;
  margin: 0 auto;
  width:768px;
  height: 400px;
}
#layers canvas{
  top: 0;
  left: 0;
  position: absolute;
}
#guide {
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}
#guide.fadeout {
  opacity: 0;
}
#ui {
  transition: opacity 0.3s ease-out;
}
#ui.dim {
  opacity: 0.3;
}

