
<div class="settings">
  <div class="setting">
    <label for="background">background</label>
    <input type="checkbox" id="background" class="setting-input"/>
  </div>
  <div class="setting">
    <label for="explosions">explosions</label>
    <input type="checkbox" id="explosions" class="setting-input"/>
  </div>
  <div class="setting">
    <label for="glow">glow</label>
    <input type="checkbox" id="glow" class="setting-input"/>
  </div>
  <div class="setting">
    <label for="gradients">gradients</label>
    <input type="checkbox" id="gradients" class="setting-input"/>
  </div>
  <div class="setting">
    <label for="trail">trail</label>
    <input type="checkbox" id="trail" class="setting-input"/>
  </div>
</div>
<button class="toggle-settings-btn">&#9881;</button>
