name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.8.0'

      - name: Install dependencies
        run: npm install

      - name: Build libraries
        run: npm run build

      - name: Start server
        run: npm run start-test-server

      - name: Test server response
        run: npm run proxy-validator

      - name: Stop server after testing
        run: pkill node || true 
